CREATE     FUNCTION [dbo].[fn_BuildMappingTableDDL]
(
    @SchemaName   sysname = NULL,
    @TableName    sysname,
    @KeyColumns   nvarchar(max),
    @OldPrefix    sysname = N'old_',
    @NewPrefix    sysname = N'new_'
)
RETURNS nvarchar(max)
AS
BEGIN
    DECLARE @DDL nvarchar(max);

	;WITH columnsToBeMapped  AS(
	SELECT *, 'o' AS type FROM [dbo].[fn_ParseKeySpec](@KeyColumns) WHERE IsAutoIncremental = 1
	UNION ALL
	SELECT *, 'n' AS type FROM [dbo].[fn_ParseKeySpec](@KeyColumns) WHERE IsAutoIncremental = 1
	 )
	 SELECT @DDL = 'CREATE TABLE '+@SchemaName+'.'+@TableName+' ('+
	 STRING_AGG((CASE WHEN type = 'o' THEN @oldPrefix+ColumnName +' '+DataType ELSE @newPrefix+ColumnName +' '+DataType END), ', ')
	 + '); '
	 FROM columnsToBeMapped

    RETURN @DDL;
END

