CREATE   FUNCTION dbo.fn_BuildMappingTemporaryTableDDL
(
    @TableName    SYSNAME,
    @KeyColumns   NVARCHAR(MAX),
    @OldPrefix    SYSNAME = N'old_',
    @NewPrefix    SYSNAME = N'new_'
)
RETURNS nvarchar(max)
AS
BEGIN
    DECLARE @DDL nvarchar(max);

	;WITH columnsToBeMapped  AS(
	SELECT *, 'o' AS type FROM [dbo].[fn_ParseKeySpec](@KeyColumns)
	WHERE IsAutoIncremental = 1
	UNION ALL
	SELECT *, 'n' AS type FROM [dbo].[fn_ParseKeySpec](@KeyColumns)
	WHERE IsAutoIncremental = 1
	 )
	 SELECT @DDL = 'CREATE TABLE '+'#'+@TableName+' ('+'ActionType VARCHAR(50), '+
	 STRING_AGG((CASE WHEN type = 'o' THEN @oldPrefix+ColumnName +' '+DataType ELSE @newPrefix+ColumnName +' '+DataType END), ', ')
	 +');'
	 FROM columnsToBeMapped

    RETURN @DDL;
END

