
CREATE   FUNCTION dbo.fn_GetMappingTableName
(
    @tableName        SYSNAME,
    @mappingPrefix    VARCHAR(50) = NULL,
    @schemaMappingName SYSNAME    = NULL
)
RETURNS SYSNAME
AS
BEGIN
    DECLARE @prefix VARCHAR(50) = COALESCE(@mappingPrefix, 'map_');
    DECLARE @schema SYSNAME     = COALESCE(@schemaMappingName, 'staging');

    DECLARE @mappingName SYSNAME;

    SELECT @mappingName = CONCAT(s.name,'.',o.name)
    FROM sys.objects AS o
    INNER JOIN sys.schemas AS s ON s.schema_id = o.schema_id
    WHERE s.name = @schema
      AND o.name = @prefix + @tableName;

    RETURN @mappingName;
END;

