CREATE       FUNCTION [dbo].[fn_GetDynamicOnClause]
(
    @KeyColumn NVARCHAR(MAX),
	@Collate SYSNAME,
    @leftAlias SYSNAME,
    @rightAlias SYSNAME
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @onClause NVARCHAR(MAX);

	;WITH fp AS (
        SELECT setOrder, ColumnName, DataType
        FROM dbo.fn_ParseKeySpec(@KeyColumn)
    )
    SELECT @onClause =
        N'ON ' + STRING_AGG(
                QUOTENAME(@leftAlias) + N'.' + QUOTENAME(ColumnName) +
                CASE WHEN DataType IN ('char','varchar','text','nchar','nvarchar','ntext','sysname')
                     THEN N' COLLATE ' + @Collate + N' ' ELSE N'' END +
                N' = ' +
                QUOTENAME(@rightAlias) + N'.' + QUOTENAME(ColumnName) +
                CASE WHEN DataType IN ('char','varchar','text','nchar','nvarchar','ntext','sysname')
                     THEN N' COLLATE ' + @Collate + N' ' ELSE N'' END
            , N' AND '
        ) WITHIN GROUP (ORDER BY setOrder)
    FROM fp;

    RETURN @onClause;
END;
