
CREATE   FUNCTION dbo.fn_GetErrorLevelId (@LevelName NVARCHAR(50))
RETURNS INT
AS
BEGIN
    DECLARE @Result INT;

    -- Normalizamos el texto (sin mayúsculas/minúsculas ni espacios extras)
    SET @LevelName = LTRIM(RTRIM(LOWER(@LevelName)));

    SELECT @Result = errorLevelId
    FROM dbo.RunLogLevel
    WHERE LOWER(errorLevelName) = @LevelName;

    -- Si no existe, devolvemos un valor por defecto (por ejemplo, Info)
    IF @Result IS NULL
    BEGIN
        SELECT @Result = errorLevelId
        FROM dbo.RunLogLevel
        WHERE LOWER(errorLevelName) = 'info';
    END

    RETURN @Result;
END;

