CREATE   FUNCTION dbo.fn_getHeapMappingTables
(@schema SYSNAME, @table SYSNAME)
RETURNS BIT
AS
BEGIN
  RETURN CASE WHEN EXISTS (
    SELECT 1
    FROM dbo.TTHeapRelated r
    WHERE r.[rschema] = @schema
      AND r.[rtable]  = @table
  ) THEN 1 ELSE 0 END;
END;

