
CREATE   FUNCTION fn_GetAutoIncrementKeyColumn
(
@Keycolumn NVARCHAR(MAX)
)
RETURNS @KeyData TABLE
(
	ID INT,
	ColumnName NVARCHAR(512),
	isAutoIncremental BIT
)
AS BEGIN
;WITH groups AS (
		SELECT value AS chunk, ROW_NUMBER() OVER (ORDER BY (SELECT 1)) AS grp
		FROM STRING_SPLIT(@KeyColumn, N'-')
	),
	parts AS (
		SELECT 
			g.grp,
			TRIM(s.value) AS part,
			ROW_NUMBER() OVER (PARTITION BY g.grp ORDER BY (SELECT 1)) AS ordinal
		FROM groups g
			CROSS APPLY STRING_SPLIT(REPLACE(REPLACE(g.chunk,'[',''),']',''), ',') AS s
	),
	formatPartition AS(
	SELECT ROW_NUMBER() OVER (ORDER BY grp) AS ID, 
		MAX(CASE WHEN ordinal = 1 THEN part END) AS ColumnName,
		MAX(CASE WHEN ordinal = 3 THEN part END) AS isAutoIncremental
	FROM parts
	GROUP BY grp)
INSERT INTO @KeyData
    SELECT 
        ID,
        ColumnName,
        TRY_CAST(isAutoIncremental AS BIT) AS isAutoIncremental
    FROM formatPartition
    ORDER BY ID;
RETURN;
END;

