
CREATE   FUNCTION dbo.fn_ParseKeySpec
(
    @KeySpec NVARCHAR(MAX)
)
RETURNS TABLE
AS
RETURN
/*
Auxiliar para formatear la salida 
*/
WITH groups AS (
    SELECT value AS chunk, ROW_NUMBER() OVER (ORDER BY (SELECT 1)) AS grp
    FROM STRING_SPLIT(@KeySpec, N'-')
),
parts AS (
    SELECT 
        g.grp,
        TRIM(s.value) AS part,
        ROW_NUMBER() OVER (PARTITION BY g.grp ORDER BY (SELECT 1)) AS ordinal
    FROM groups g
    CROSS APPLY STRING_SPLIT(REPLACE(REPLACE(g.chunk,'[',''),']',''), ',') AS s
)
SELECT 
    ROW_NUMBER() OVER (ORDER BY grp)        AS setOrder,
    MAX(CASE WHEN ordinal = 1 THEN part END) AS ColumnName,
    MAX(CASE WHEN ordinal = 2 THEN part END) AS DataType,
    MAX(CASE WHEN ordinal = 3 THEN part END) AS IsAutoIncremental
FROM parts
GROUP BY grp;

