
CREATE   TRIGGER [dbo].[TrackLastIdChange]
ON [dbo].[TTableList]
AFTER UPDATE
AS BEGIN
    SET NOCOUNT ON;
    IF UPDATE(lastIdAtOrigin)
        BEGIN
            INSERT INTO [dbo].TTableList_hist (tableListID, oldLastIdAtOrigin, newLastIdAtOrigin, changedBy)
            SELECT 
            i.tableListID, 
            d.lastIdAtOrigin,
            i.lastIdAtOrigin,
            SUSER_NAME()
            FROM inserted i 
                INNER JOIN deleted d ON i.tableListID = d.tableListID
            WHERE ISNULL(i.lastIdAtOrigin, '') <> ISNULL(d.lastIdAtOrigin, '');
        END;
END;

