CREATE   TRIGGER dbo.trg_TParameterStore_Updated
ON dbo.TParameterStore
AFTER INSERT, UPDATE
	AS BEGIN
		SET NOCOUNT ON;

		UPDATE ts
		SET ts.Updated = GETDATE(),
        ts.UpdatedBy = SUSER_SNAME()
		FROM dbo.TParameterStore ts 
			INNER JOIN inserted i ON ts.ParameterID = i.ParameterID
	END;

