CREATE   TRIGGER dbo.trg_TTHeap_Process_AIUD
ON dbo.TTHeapTablesProcess
AFTER INSERT, UPDATE
AS
BEGIN
  SET NOCOUNT ON;

  -- Borra claves anteriores de las filas afectadas
  DELETE i2
  FROM dbo.TTHeapRelated i2
  JOIN inserted i ON i.heapID = i2.heapID;

  -- Inserta claves actuales parseando una sola vez
  INSERT dbo.TTHeapRelated (heapID, [rschema], [rtable])
  SELECT  i.heapID, rt.[schema], rt.[table]
  FROM inserted i
  CROSS APPLY OPENJSON(i.RelatedTables, '$.relatedTables')
    WITH (
      [schema] NVARCHAR(128) '$.schema',
      [table]  NVARCHAR(128) '$.table'
    ) AS rt;
END;

