


CREATE               PROCEDURE [dbo].[GenerateDynamicMerge](
	@sourceDatabaseName SYSNAME,
	@targetDatabaseName SYSNAME,
	@DatabaseCollate VARCHAR(150),
	@schemaName SYSNAME,
	@sourceTable VARCHAR(512),
	@targetTable VARCHAR(512),
	@SQLCommand NVARCHAR(MAX) OUTPUT
	)
AS
	BEGIN
		/*TODAS las tablas que lleguen a este procedimiento deben haber pasado por una validacion que indica si son elegibles o no
		por lo que todas tendran la misma estructura, los mismos nombres y existiran sobre el mismo esquema.*/
		SET NOCOUNT ON;

		DECLARE @SQL NVARCHAR(MAX),
				@onClause NVARCHAR(MAX),
				@KeyColumn NVARCHAR(MAX),
				@sourceAlias NVARCHAR(25) = 'source',
				@targetAlias NVARCHAR(25) = 'target',
				@updateColumns NVARCHAR(MAX),
				@projectedCols NVARCHAR(MAX),
				@updateComparisionColumns NVARCHAR(MAX),
				@ExistsClauseForeignRelations NVARCHAR(MAX),
				@ColumnList NVARCHAR(MAX),
				@Message NVARCHAR(2000),
				@ExceptionCol NVARCHAR(MAX),
				@OutputClauseCols NVARCHAR(MAX),
				@temporalTableClause NVARCHAR(MAX),
				@defaultCollate SYSNAME = 'Modern_Spanish_CI_AS',
				@oldPrefix    sysname = N'old_',
				@newPrefix    sysname = N'new_',
				@insertedPrefix SYSNAME = N'inserted',
				@stagingSchema SYSNAME = 'staging',
				@theapSchema SYSNAME = 'theap',
				@heapMappingFlag BIT = 0,
				@heapMappingTableName SYSNAME,
				@mapTablePrefix SYSNAME = 'map_',
				@JoinMapClause NVARCHAR(MAX),
				@ProjectedSelect NVARCHAR(MAX),
				@mappingTableName SYSNAME,
				@temporalTableCols NVARCHAR(2000),
				@AutoIncremCols BIT = 0,
				@RelatedWMappedTable BIT = 0,
				@temporalTableName NVARCHAR(2000) = 'tmp_'+@targetTable;

		DECLARE @TemporaryTableCols TABLE(
		ColumnPrefix VARCHAR(250)
		)

		IF @DatabaseCollate IS NULL
			BEGIN
				SET @DatabaseCollate =  @defaultCollate; 
			END;

		EXEC dbo.GetKeyColumnDynamic 
			@database = @targetDatabaseName, 
			@tableName = @targetTable, 
			@schemaName = @schemaName,
			@primaryKeyColumns = @KeyColumn OUTPUT;

		IF @KeyColumn IS NULL 
			BEGIN
				SET @Message = CONCAT(N'There''s no primary key associated to ', @targetTable, N'. The process will skip this table.');

				EXEC dbo.sp_ETLRunLog_Message
				@ErrorLevel         = 'Error',
				@sourceDatabaseName = @sourceDatabaseName,
				@targetDatabaseName = @targetDatabaseName,
				@ProcessName        = 'GenerateDynamicMerge',
				@Message			= @Message;

				RETURN;
			END;

		BEGIN TRY
		/*
		Tablas con más de una columna como PK
		*/
		SELECT @onClause = dbo.fn_GetDynamicOnClause(@KeyColumn, @DatabaseCollate, @sourceAlias, @targetAlias);

		/*Clausula para crear una tabla temporal, que servirá de auxiliar para parsear 
		la info que se obtiene de los inserts/updates (SOLAMENTE PARSEA AUTO INCREMENTALES)*/

		IF EXISTS(SELECT 1 FROM dbo.fn_GetAutoIncrementKeyColumn (@KeyColumn) WHERE isAutoIncremental = 1)
			BEGIN
				
				SET @AutoIncremCols = 1;
				
				SELECT @temporalTableClause = dbo.fn_BuildMappingTemporaryTableDDL(@temporalTableName, @KeyColumn, @oldPrefix, @newPrefix);

				;WITH f AS(SELECT ColumnName, 'o' p
				FROM fn_GetAutoIncrementKeyColumn (@KeyColumn) 
				WHERE isAutoIncremental = 1
				UNION ALL
				SELECT ColumnName, 'n' p
				FROM fn_GetAutoIncrementKeyColumn (@KeyColumn) 
				WHERE isAutoIncremental = 1)
				SELECT @temporalTableCols = STRING_AGG(CONCAT((CASE WHEN p = 'o' THEN @oldPrefix ELSE @newPrefix END), ColumnName), ', ')
				FROM f;

				/*Excluir llaves primarias*/
				SELECT @ExceptionCol = STRING_AGG(ColumnName, ', ') FROM dbo.fn_GetAutoIncrementKeyColumn (@KeyColumn) WHERE isAutoIncremental = 1;

				/*Listar PKs para OUTPUT Clause*/
				;WITH f AS(SELECT ColumnName, 's' p
				FROM fn_GetAutoIncrementKeyColumn (@KeyColumn) 
				WHERE isAutoIncremental = 1
				UNION ALL
				SELECT ColumnName, 'i' p
				FROM fn_GetAutoIncrementKeyColumn (@KeyColumn) 
				WHERE isAutoIncremental = 1)
				SELECT @OutputClauseCols = STRING_AGG(CONCAT((CASE WHEN p = 'i' THEN @insertedPrefix ELSE @sourceAlias END),'.',ColumnName), ', ')
				FROM f;

				/*OUTPUT Clause listar columnas de la tabla temporal con Alias*/
				INSERT INTO @TemporaryTableCols
				SELECT CONCAT(@oldPrefix, ColumnName) FROM fn_GetAutoIncrementKeyColumn (@KeyColumn) --OLD
				WHERE isAutoIncremental = 1
				UNION ALL
				SELECT CONCAT(@newPrefix, ColumnName) FROM fn_GetAutoIncrementKeyColumn (@KeyColumn) --NEW
				WHERE isAutoIncremental = 1;
				
				/*
				Se hace una busqueda de la tabla de mapeo
				*/
				SELECT @mappingTableName = dbo.fn_GetMappingTableName(@targetTable, NULL, NULL);

				IF @mappingTableName IS NULL
					BEGIN
						EXEC dbo.sp_ETLCreateMappingTable 
							@databaseName = @targetDatabaseName,
							@schemaName = @schemaName,
							@tableName = @targetTable;

							SELECT @mappingTableName = dbo.fn_GetMappingTableName(@targetTable, NULL, NULL);
					END;

				/*
				Se añade un parche para mapear 
				tablas que tengan relacion directa
				con una tabla HEAP dentro del esquema
				
				Verifica si existe en la tabla Auxiliar de relaciones HEAP [dbo].[TTHeapRelated]
				Si esta ahi, se verifica si existe una tabla de mapeo creado para el esquema [theap]

				*/
				IF (SELECT dbo.fn_getHeapMappingTables(@schemaName, @targetTable)) = 1
				BEGIN
					SET @heapMappingFlag = 1

					SELECT @heapMappingTableName = dbo.fn_GetMappingTableName(@targetTable, NULL, @theapSchema);

					IF @heapMappingTableName IS NULL
						BEGIN
							EXEC dbo.sp_ETLCreateMappingTable 
								@databaseName = @targetDatabaseName,
								@schemaName = @schemaName,
								@tableName = @targetTable,
								@mapSchema = @theapSchema; -- Se usan los valores por defecto del procedimiento para mapear el resto

							SELECT @heapMappingTableName = dbo.fn_GetMappingTableName(@targetTable, NULL, @theapSchema);
						END;
				END;
			END;
					-- Construir lista de columnas para comparacion en el UPDATE dinámico
			/*
			Se agrega un parche para separar los tipos de datos no textuales y convertirlos en RAW para ser directamente comparados
			*/
			SET @SQL = N'
				SELECT @updateColumnsOUT =
					STRING_AGG(
						CAST(
							CONCAT(
								-- Lado TARGET
								CASE 
									WHEN DATA_TYPE IN (''image'',''hierarchyid'',''geography'',''geometry'')
										THEN ''CONVERT(varbinary(max), ' + @targetAlias + '.'' + QUOTENAME(COLUMN_NAME) + '')''
									WHEN DATA_TYPE IN (''xml'',''text'',''ntext'')
										THEN ''CONVERT(nvarchar(max), ' + @targetAlias + '.'' + QUOTENAME(COLUMN_NAME) + '')''
									ELSE ''' + @targetAlias + '.'' + QUOTENAME(COLUMN_NAME)
								END,
								CASE 
									WHEN DATA_TYPE IN (''char'',''varchar'',''nchar'',''nvarchar'',''sysname'')
										THEN '' COLLATE '' + @Collate
								END,
								'' <> '',
								-- Lado SOURCE
								CASE 
									WHEN DATA_TYPE IN (''image'',''hierarchyid'',''geography'',''geometry'')
										THEN ''CONVERT(varbinary(max), ' + @sourceAlias + '.'' + QUOTENAME(COLUMN_NAME) + '')''
									WHEN DATA_TYPE IN (''xml'',''text'',''ntext'')
										THEN ''CONVERT(nvarchar(max), ' + @sourceAlias + '.'' + QUOTENAME(COLUMN_NAME) + '')''
									ELSE ''' + @sourceAlias + '.'' + QUOTENAME(COLUMN_NAME)
								END,
								CASE 
									WHEN DATA_TYPE IN (''char'',''varchar'',''nchar'',''nvarchar'',''sysname'')
										THEN '' COLLATE '' + @Collate
								END
							)
						AS nvarchar(max)),
						'' OR ''
					)
				FROM ' + QUOTENAME(@sourceDatabaseName) + '.INFORMATION_SCHEMA.COLUMNS
				WHERE TABLE_NAME  = @tblNameParam
				  AND TABLE_SCHEMA = @schemaParam
				  AND DATA_TYPE NOT IN (''timestamp'',''rowversion'')  -- no comparables útiles
				  AND (@Key IS NULL OR COLUMN_NAME NOT IN (
						SELECT RTRIM(LTRIM(value)) FROM STRING_SPLIT(@Key, '','')
				  ));
			';

			EXEC sp_executesql 
				@SQL,
				N'@tblNameParam NVARCHAR(128), @schemaParam NVARCHAR(128), @Key NVARCHAR(MAX), @Collate NVARCHAR(250), @updateColumnsOUT NVARCHAR(MAX) OUTPUT',
				@tblNameParam = @sourceTable,
				@schemaParam  = @schemaName,
				@Key          = @ExceptionCol,
				@Collate      = @DatabaseCollate,
				@updateColumnsOUT = @updateComparisionColumns OUTPUT;



			-- Construir lista de columnas para UPDATE dinámico
			SET @SQL = N'SELECT @updateColumnsOUT = STRING_AGG(
								CONCAT(''' + @targetAlias + '.'', COLUMN_NAME,'' = ' + @sourceAlias + '.'', COLUMN_NAME),
								'','') 
						FROM ' + QUOTENAME(@sourceDatabaseName) + '.INFORMATION_SCHEMA.COLUMNS 
						WHERE TABLE_NAME = @tblNameParam
						  AND TABLE_SCHEMA = @schemaParam
						  AND (@Key IS NULL OR COLUMN_NAME NOT IN (SELECT RTRIM(LTRIM(value)) FROM STRING_SPLIT(@Key, '','')))';

			EXEC sp_executesql 
				@SQL,
				N'@tblNameParam NVARCHAR(128), @schemaParam NVARCHAR(128), @Key NVARCHAR(MAX), @Collate NVARCHAR(250), @updateColumnsOUT NVARCHAR(MAX) OUTPUT',
				@tblNameParam = @sourceTable,
				@schemaParam = @schemaName,
				@Key = @ExceptionCol,
				@Collate = @DatabaseCollate,
				@updateColumnsOUT = @updateColumns OUTPUT;

			-- Construir lista de columnas para INSERT dinámico
			SET @SQL = N'SELECT @ColumnListOUT = STRING_AGG(COLUMN_NAME, '', '') 
						FROM ' + QUOTENAME(@sourceDatabaseName) + '.INFORMATION_SCHEMA.COLUMNS 
						WHERE TABLE_NAME = @tblNameParam
						  AND TABLE_SCHEMA = @schemaParam
						 AND (@Key IS NULL OR COLUMN_NAME NOT IN (SELECT RTRIM(LTRIM(value)) FROM STRING_SPLIT(@Key, '','')))';

			EXEC sp_executesql
				@SQL,
				N'@tblNameParam NVARCHAR(128), @schemaParam NVARCHAR(128), @Key NVARCHAR(MAX), @ColumnListOUT NVARCHAR(MAX) OUTPUT',
				@tblNameParam = @sourceTable,
				@schemaParam = @schemaName,
				@Key = @ExceptionCol,
				@ColumnListOUT = @ColumnList OUTPUT;

			/*
			Construccion de las sentencias para usar tablas de mapeo, en caso de que existe alguna con relacion
			*/
			IF EXISTS(SELECT 1 FROM dbo.foreignKeyMetadata)
				BEGIN
					TRUNCATE TABLE foreignKeyMetadata
				END;

				/*Mapeo dinamico de las consultas para obtener el ID Dinamico*/
				EXEC dbo.sp_ETL_LoadForeignKeyMetadata
					@targetDatabaseName = @targetDatabaseName,
					@stagingSchema = @stagingSchema,
					@schemaName = @schemaName,
					@targetTable = @targetTable,
					@oldPrefix = @oldPrefix,
					@newPrefix = @newPrefix,
					@mapTablePrefix = @mapTablePrefix;
		
				  IF EXISTS(SELECT 1 FROM foreignKeyMetadata)
					BEGIN
						SET @RelatedWMappedTable = 1;

						SELECT @JoinMapClause =
							STRING_AGG(
								N'LEFT JOIN '+fm.MapTable+N' AS '+fm.MapAlias+
								N' ON '+fm.MapAlias+'.'+QUOTENAME(fm.MapOldCol)+N' = '+@sourceAlias+N'.'+QUOTENAME(fm.FKColumnName)
							, CHAR(13)+CHAR(10))
						FROM dbo.foreignKeyMetadata AS fm

					/*Proyectar todas las columnas para construir el uso de los IDS del mapeo*/
					SET @SQL = N'SELECT @ColumnListOUT = STRING_AGG(COLUMN_NAME, '', '') 
								FROM ' + QUOTENAME(@sourceDatabaseName) + '.INFORMATION_SCHEMA.COLUMNS 
								WHERE TABLE_NAME = @tblNameParam
								AND TABLE_SCHEMA = @schemaParam';

					EXEC sp_executesql
							@SQL,
							N'@tblNameParam NVARCHAR(128), @schemaParam NVARCHAR(128), @ColumnListOUT NVARCHAR(MAX) OUTPUT',
							@tblNameParam = @sourceTable,
							@schemaParam = @schemaName,
							@ColumnListOUT = @projectedCols OUTPUT;

					SET @SQL = N'
					;WITH tgtcols AS (
						SELECT c.name, c.column_id
						FROM ' + QUOTENAME(@targetDatabaseName) + N'.sys.columns AS c
						JOIN ' + QUOTENAME(@targetDatabaseName) + N'.sys.tables  AS t ON t.object_id = c.object_id
						JOIN ' + QUOTENAME(@targetDatabaseName) + N'.sys.schemas AS s ON s.schema_id = t.schema_id
						WHERE s.name = @p_schemaName
						  AND t.name = @p_targetTable
						  AND c.name IN (SELECT TRIM([value]) FROM STRING_SPLIT(@p_ColumnList, '',''))
					)
					SELECT @p_ProjectedSelectOut =
						STRING_AGG(
							CASE
								WHEN fm.FKColumnName IS NOT NULL THEN
									''COALESCE('' + fm.MapAlias + ''.'' + QUOTENAME(fm.MapNewCol) + '', source.'' + QUOTENAME(tc.name) + '') AS '' + QUOTENAME(tc.name)
								ELSE
									''source.'' + QUOTENAME(tc.name)
							END,
							N'', ''
						) WITHIN GROUP (ORDER BY tc.column_id)
					FROM tgtcols AS tc
					LEFT JOIN ForeignKeyMetadata AS fm
						ON fm.FKColumnName = tc.name;';
					EXEC sys.sp_executesql
						@SQL,
						N'@p_schemaName sysname, @p_targetTable sysname, @p_ColumnList nvarchar(max), @p_ProjectedSelectOut nvarchar(max) OUTPUT',
						@p_schemaName = @schemaName,
						@p_targetTable = @targetTable,
						@p_ColumnList = @projectedCols,
						@p_ProjectedSelectOut = @ProjectedSelect OUTPUT;

					SELECT @ExistsClauseForeignRelations =
						STRING_AGG(
							N' AND EXISTS (' +
							N'  SELECT 1' + CHAR(13)+CHAR(10) +
							N'  FROM ' + QUOTENAME(@targetDatabaseName)+N'.'+QUOTENAME(fm.RefSchema) + N'.' + QUOTENAME(RefTable) + N' AS p' + CHAR(13)+CHAR(10) +
							N'  WHERE p.' + QUOTENAME(fm.RefPKColumn) + N' = '+@sourceAlias+N'.'+QUOTENAME(fm.FKColumnName)+N')', CHAR(13)+CHAR(10))
						FROM dbo.foreignKeyMetadata AS fm;
					END;

			SET @SQL = (CASE WHEN @AutoIncremCols = 1 THEN @temporalTableClause ELSE '' END)+N'
			;MERGE INTO '+QUOTENAME(@targetDatabaseName)+N'.'+QUOTENAME(@schemaName)+N'.'+QUOTENAME(@targetTable)+' WITH (HOLDLOCK)'+' AS '+@targetAlias+'
			USING '+(CASE WHEN @RelatedWMappedTable = 0 THEN QUOTENAME(@sourceDatabaseName)+N'.'+QUOTENAME(@schemaName)+N'.'+QUOTENAME(@sourceTable)
			ELSE '('+'SELECT '+@ProjectedSelect+' FROM '+ QUOTENAME(@sourceDatabaseName)+N'.'+QUOTENAME(@schemaName)+N'.'+QUOTENAME(@sourceTable)+' AS '+@sourceAlias
			+CHAR(13)+CHAR(10)+ISNULL(@JoinMapClause,N'')+')' END)+' AS '+@sourceAlias+' '+@onClause + '
			WHEN MATCHED AND (' +@updateComparisionColumns+ ') THEN
				UPDATE SET ' + @updateColumns + '
			WHEN NOT MATCHED BY TARGET '+ISNULL(@ExistsClauseForeignRelations, '')+' THEN
				INSERT (' +@ColumnList+') 
				VALUES (' +(SELECT STRING_AGG(CONCAT(@sourceAlias, N'.',RTRIM(LTRIM(value))), ', ') FROM STRING_SPLIT(@ColumnList, N',')) + N') '+CHAR(13)+CHAR(10)+(CASE WHEN @AutoIncremCols = 1 THEN +
			'OUTPUT 
				$action, '+
				@OutputClauseCols
				+' INTO #'+@temporalTableName+N';
				SELECT @rc_out = COUNT(*) FROM #'+@temporalTableName+';'+CHAR(13)+CHAR(10)+'
				INSERT INTO '+@mappingTableName+'
				SELECT '+@temporalTableCols+' FROM #'+@temporalTableName+';'+
				(CASE WHEN @heapMappingFlag = 1 THEN
				'INSERT INTO '+@heapMappingTableName
				+' SELECT '+@temporalTableCols+
				' FROM #'+@temporalTableName+';' ELSE '' END)
				+' DROP TABLE #'+@temporalTableName ELSE '; SELECT @rc_out = @@ROWCOUNT;' END);

			SET @SQLCommand = @SQL;

			END TRY
			BEGIN CATCH
			SET @Message = CONCAT(N'Error in procedure ', ISNULL(ERROR_MESSAGE(), 'GenerateDynamicMerge'), N' at line ', ERROR_LINE(), N': ', ERROR_PROCEDURE());

			EXEC [dbo].[sp_ETLRunLog_Message]
				@ErrorLevel         = 'Error',
				@sourceDatabaseName = NULL,
				@targetDatabaseName = @targetDatabaseName,
				@ProcessName        = 'GenerateDynamicMerge',
				@CommandDetail		= @SQL,
				@Message            = @Message;
			RETURN;
			END CATCH
	END;

