
CREATE     PROCEDURE [dbo].[GenerateETLExecutionOrder] (@targetDatabaseName SYSNAME)
AS 
BEGIN
	
    /*
    Procedimiento para generar el orden de ejecución de tablas en un proceso ETL basado en las dependencias de claves foráneas.
    Este procedimiento construye dinámicamente una consulta SQL que determina el orden en que se deben insertar las tablas 
    según las relaciones de claves foráneas, teniendo en cuenta las tablas padres y sus dependencias.
    */
		DECLARE @SQL NVARCHAR(MAX),
				@processName SYSNAME = 'GenerateETLExecutionOrder',
				@Schemas NVARCHAR(2000) = 'dbo';
		BEGIN TRY
		/*
		Verificar las tablas padres de las tablas que se quieren procesar
		*/
		IF EXISTS (SELECT 1 FROM TTableExecutionOrderHint)
			BEGIN
				TRUNCATE TABLE dbo.TTableExecutionOrderHint
			END

		SET @SQL = N'
		;WITH Seeds AS (
					SELECT OBJECT_ID('+QUOTENAME(QUOTENAME(@targetDatabaseName), '''')+N'+''.''+QUOTENAME(t.schemaName) + ''.'' + QUOTENAME(t.tableName)) AS object_id
					FROM dbo.TTableList AS t
		),
		Edges AS (
			/*Se hace una mejora para incluir la tabla de TTablelist
			En ambos como padre o hijo*/
			SELECT
				fk.parent_object_id AS child_id,
				fk.referenced_object_id AS parent_id,
				1 AS level,
				CAST(''>'' + CAST(fk.parent_object_id AS varchar(20)) + ''>'' 
						  + CAST(fk.referenced_object_id AS varchar(20)) + ''>'' AS nvarchar(max)) AS path_ids
			FROM PA_TowerBank_ICBanking.sys.foreign_keys AS fk
			JOIN Seeds AS s 
				ON s.object_id IN (fk.parent_object_id, fk.referenced_object_id)
			UNION ALL
			-- Recursion: Se sube por las cadenas padre para determinar el orden
			SELECT
				fk.parent_object_id,
				fk.referenced_object_id,
				e.level + 1,
				e.path_ids + CAST(fk.referenced_object_id AS varchar(20)) + ''>''
			FROM Edges AS e
			JOIN PA_TowerBank_ICBanking.sys.foreign_keys AS fk
				ON fk.parent_object_id = e.parent_id
			WHERE e.path_ids NOT LIKE ''%>'' + CAST(fk.referenced_object_id AS varchar(20)) + ''>%''
		),
		-- NODOS: incluir ambos extremos de cada arista con profundidad relativa
		Nodes AS (
			SELECT e.child_id AS object_id, e.level - 1 AS depth FROM Edges e
			UNION ALL
			SELECT e.parent_id AS object_id, e.level     AS depth FROM Edges e
		),
		--Nombres de las tablas
		EdgesNamed AS (
			SELECT 
				QUOTENAME(sch_c.name) + N''.'' + QUOTENAME(tbl_c.name) AS child_fullname,
				QUOTENAME(sch_p.name) + N''.'' + QUOTENAME(tbl_p.name) AS parent_fullname,
				e.level
			FROM Edges AS e
			JOIN PA_TowerBank_ICBanking.sys.tables  AS tbl_c ON tbl_c.object_id = e.child_id
			JOIN PA_TowerBank_ICBanking.sys.schemas AS sch_c ON sch_c.schema_id = tbl_c.schema_id
			JOIN PA_TowerBank_ICBanking.sys.tables  AS tbl_p ON tbl_p.object_id = e.parent_id
			JOIN PA_TowerBank_ICBanking.sys.schemas AS sch_p ON sch_p.schema_id = tbl_p.schema_id
		),
		-- Profundidades por tabla (aparezca como padre o como hijo)
		Depths AS (
			SELECT 
				QUOTENAME(sch.name) + N''.'' + QUOTENAME(tbl.name) AS full_table_name,
				MAX(CASE WHEN n.depth < 0 THEN 0 ELSE n.depth END) AS depth
			FROM Nodes n
			JOIN PA_TowerBank_ICBanking.sys.tables  AS tbl ON tbl.object_id = n.object_id
			JOIN PA_TowerBank_ICBanking.sys.schemas AS sch ON sch.schema_id = tbl.schema_id
			GROUP BY sch.name, tbl.name
			UNION ALL  -- asegurar presencia de todas las tablas listadas, con profundidad 0 si no aparecen en el grafo
			SELECT QUOTENAME(t.schemaName) + N''.'' + QUOTENAME(t.tableName), 0
			FROM twb_workspace.dbo.TTableList AS t
		)
		-- INSERT/SELECT final
		INSERT INTO TTableExecutionOrderHint (schemaName, TableName, depth, insertOrder, listId)
		SELECT DISTINCT
			PARSENAME(full_table_name, 2) AS schemaName,
			PARSENAME(full_table_name, 1) AS tableName,
			MAX(depth) AS depth,
			ROW_NUMBER() OVER (ORDER BY MAX(depth) DESC, full_table_name) AS insert_order,
			tta.tableListID AS ListId
		FROM Depths AS d
		LEFT JOIN twb_workspace.dbo.TTableList AS tta 
			ON tta.tableName = PARSENAME(d.full_table_name, 1)
		/*
		Se incorpora un filtro para omitir del proceso aquellas tablas que, aunque estén
		referenciadas por relaciones, no requieren carga. La lista de exclusiones se gestiona
		en dbo.ProcessTableExclusions.
		*/
		WHERE NOT EXISTS (
			SELECT 1
			FROM dbo.ProcessTableExclusions AS e
			WHERE e.schemaName = PARSENAME(d.full_table_name, 2)  -- esquema
			  AND e.tableName = PARSENAME(d.full_table_name, 1)   -- tabla
		)
		GROUP BY full_table_name, tta.tableListID
		ORDER BY insert_order
		OPTION (MAXRECURSION 0);'

		EXEC sp_executesql
			@SQL,
			N'@SchemasParam NVARCHAR(MAX)',
			@SchemasParam = @Schemas;

		END TRY
		BEGIN CATCH
			DECLARE
				@Message NVARCHAR(MAX) = CONCAT(N'Error in procedure ', ISNULL(ERROR_MESSAGE(), 'GenerateETLExecutionOrder'), N' at line ', ERROR_LINE(), N': ', ERROR_PROCEDURE());

			EXEC [dbo].[sp_ETLRunLog_Message]
				@ErrorLevel         = 'Error',
				@sourceDatabaseName = NULL,
				@targetDatabaseName = @targetDatabaseName,
				@ProcessName        = @processName,
				@CommandDetail = @SQL,
				@Message            = @Message;
			RETURN;
		END CATCH;

END;

