CREATE     PROCEDURE [dbo].[GetKeyColumnDynamic]
    @database SYSNAME,
	@schemaName SYSNAME,
    @tableName SYSNAME,
    @primaryKeyColumns NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sql NVARCHAR(MAX);

    SET @sql = N'
        SELECT @pkColsOUT = STRING_AGG(CONCAT(N''['', c.name,'', '', t.name, '', '', (CASE WHEN c.is_identity = 1 OR dc.object_id IS NOT NULL AND dc.definition LIKE ''%NEXT VALUE FOR %'' THEN 1 ELSE 0 END), N'']''), '' - '') WITHIN GROUP (ORDER BY ic.key_ordinal)
        FROM ' + QUOTENAME(@database) + '.sys.tables tb
			JOIN '+ QUOTENAME(@database) +'.sys.schemas sh
			  ON sh.schema_id = tb.schema_id
			JOIN '+ QUOTENAME(@database) +'.sys.key_constraints pk
			  ON pk.parent_object_id = tb.object_id
			 AND pk.[type] = ''PK''
			JOIN '+ QUOTENAME(@database) +'.sys.index_columns ic
			  ON ic.object_id = pk.parent_object_id
			  AND ic.index_id   = pk.unique_index_id
			JOIN '+ QUOTENAME(@database) +'.sys.columns c
			  ON c.object_id   = tb.object_id
			 AND c.column_id   = ic.column_id
			JOIN '+ QUOTENAME(@database) +'.sys.types t
			  ON c.user_type_id = t.user_type_id
			LEFT JOIN '+ QUOTENAME(@database) +'.sys.default_constraints dc
			  ON dc.parent_object_id  = c.object_id
			 AND dc.parent_column_id  = c.column_id
        WHERE tb.name = @tblNameParam
			 AND sh.name =  @schName
			  AND c.column_id = ic.column_id;';

    EXEC sp_executesql 
        @sql,
        N'@tblNameParam SYSNAME,
		@schName SYSNAME,
		@pkColsOUT NVARCHAR(MAX) OUTPUT',
        @tblNameParam = @tableName,
		@schName = @schemaName,
        @pkColsOUT = @primaryKeyColumns OUTPUT;
END;

