CREATE   PROCEDURE dbo.sp_ETLValidateTableStructure (
    @sourceDatabaseName SYSNAME,
    @targetDatabaseName SYSNAME
)
AS BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE
	@procedureName SYSNAME = 'sp_ETLValidateTableStructure',
    -- Variables para el cursor principal
    @TTexecutionID     INT,
    @TTschema          SYSNAME,
    @TTable            SYSNAME,
    @TTableListId      INT,

    -- Variables de control
    @exists            BIT = 0,
    @LogMessage        NVARCHAR(MAX),
    @ERRColumList      NVARCHAR(MAX),
    @isNullable        BIT,
	@Message		   NVARCHAR(MAX),

    -- Cadenas para SQL dinámico
    @SQL               NVARCHAR(MAX),

    -- Full path construidos dinámicamente
    @sourceFullPath    NVARCHAR(512),
    @targetFullPath    NVARCHAR(512);

	BEGIN TRY
			DECLARE tablesCur CURSOR LOCAL FAST_FORWARD FOR
				SELECT executionID, schemaName, tableName, listId
				FROM dbo.TTableExecutionOrderHint
				ORDER BY depth DESC, insertOrder ASC
			OPEN tablesCur;

			FETCH NEXT FROM tablesCur INTO @TTexecutionID, @TTschema, @TTable, @TTableListId;

			WHILE @@FETCH_STATUS = 0
				BEGIN
					/*Armar el Path completo de la tabla correspondiente*/
					SET @sourceFullPath = QUOTENAME(@sourceDatabaseName)+N'.'+QUOTENAME(@TTschema)+N'.'+QUOTENAME(@TTable);
					SET @targetFullPath = QUOTENAME(@targetDatabaseName)+N'.'+QUOTENAME(@TTschema)+N'.'+QUOTENAME(@TTable);


					/*Verificacion de origen*/
					SET @SQL = N'SELECT @flag = CASE WHEN EXISTS (
												SELECT 1
												FROM ' + QUOTENAME(@sourceDatabaseName) + N'.sys.tables t
												JOIN ' + QUOTENAME(@sourceDatabaseName) + N'.sys.schemas s ON s.schema_id = t.schema_id
												WHERE s.name = @sch AND t.name = @tbl) THEN 1 ELSE 0 END;'

					EXEC sp_executesql @SQL, N'@sch sysname, @tbl sysname, @flag bit OUTPUT', @sch=@TTschema, @tbl=@TTable, @flag=@exists OUTPUT;

					IF @exists = 0
						BEGIN
								SET @LogMessage = CONCAT('Origin table doesn''t exist.', @sourceFullPath);

								EXEC dbo.sp_ETLRunLog_Message
									@TableListId		= @TTableListId,
									@ErrorLevel         = 'Error',
									@sourceDatabaseName = @sourceDatabaseName,
									@targetDatabaseName = @targetDatabaseName,
									@SchemaName			= @TTschema,
									@ObjectName			= @TTable,
									@ProcessName        = @procedureName,
									@CommandDetail		= @SQL,
									@Message            = @LogMessage;

							THROW 50000, @LogMessage, 1;

							FETCH NEXT FROM tablesCur INTO @TTexecutionID, @TTschema, @TTable, @TTableListId;
							CONTINUE;
						END;

					/*Verificacion de destino*/
					SET @SQL = N'SELECT @flag = CASE WHEN EXISTS (
												SELECT 1
												FROM ' + QUOTENAME(@targetDatabaseName) + N'.sys.tables t
												JOIN ' + QUOTENAME(@targetDatabaseName) + N'.sys.schemas s ON s.schema_id = t.schema_id
												WHERE s.name = @sch AND t.name = @tbl) THEN 1 ELSE 0 END;'

					EXEC sp_executesql @SQL, N'@sch sysname, @tbl sysname, @flag bit OUTPUT', @sch=@TTschema, @tbl=@TTable, @flag=@exists OUTPUT;

					IF @exists = 0
						BEGIN
							SET @LogMessage = CONCAT('Target table doesn''t exist.', @targetFullPath);

							EXEC dbo.sp_ETLRunLog_Message
									@TableListId		= @TTableListId,
									@ErrorLevel         = 'Error',
									@sourceDatabaseName = @sourceDatabaseName,
									@targetDatabaseName = @targetDatabaseName,
									@SchemaName			= @TTschema,
									@ObjectName			= @TTable,
									@ProcessName        = @procedureName,
									@CommandDetail		= @SQL,
									@Message            = @LogMessage;

							THROW 50000, @LogMessage, 1;

							FETCH NEXT FROM tablesCur INTO @TTexecutionID, @TTschema, @TTable, @TTableListId;
							CONTINUE;
						END;

					--Metadatos de columnas (origen/destino)
					IF EXISTS (SELECT 1 FROM sourceMetadata)
						BEGIN 
							TRUNCATE TABLE sourceMetadata;
						END;
					IF EXISTS (SELECT 1 FROM targetMetadata)
						BEGIN
							TRUNCATE TABLE targetMetadata;
						END;

					--ORIGEN
					SET @SQL = N'
					INSERT INTO sourceMetadata
					SELECT c.name,
					   t.name AS type_name,
					   c.max_length,
					   c.[precision],
					   c.scale,
					   c.is_nullable,
					   ISNULL(c.is_identity,0),
					   c.collation_name
					FROM ' + QUOTENAME(@sourceDatabaseName) + N'.sys.columns c
						JOIN ' + QUOTENAME(@sourceDatabaseName) + N'.sys.tables tb   ON tb.object_id = c.object_id
						JOIN ' + QUOTENAME(@sourceDatabaseName) + N'.sys.schemas sc  ON sc.schema_id = tb.schema_id
						JOIN ' + QUOTENAME(@sourceDatabaseName) + N'.sys.types   t   ON t.user_type_id = c.user_type_id
					WHERE sc.name = @sch AND tb.name = @tbl;
					'
					EXEC sp_executesql @sql, N'@sch sysname, @tbl sysname', @sch=@TTschema, @tbl=@TTable;

					SET @sql = N'
					INSERT INTO targetMetadata
					SELECT c.name,
						   t.name AS type_name,
						   c.max_length,
						   c.[precision],
						   c.scale,
						   c.is_nullable,
						   ISNULL(c.is_identity,0),
						   c.collation_name
					FROM ' + QUOTENAME(@targetDatabaseName) + N'.sys.columns c
						JOIN ' + QUOTENAME(@targetDatabaseName) + N'.sys.tables tb   ON tb.object_id = c.object_id
						JOIN ' + QUOTENAME(@targetDatabaseName) + N'.sys.schemas sc  ON sc.schema_id = tb.schema_id
						JOIN ' + QUOTENAME(@targetDatabaseName) + N'.sys.types   t   ON t.user_type_id = c.user_type_id
					WHERE sc.name = @sch AND tb.name = @tbl;';

				EXEC sp_executesql @sql, N'@sch sysname, @tbl sysname', @sch=@TTschema, @tbl=@TTable;


				--Columnas faltantes / sobrantes

				IF OBJECT_ID('tempdb..#only_src') IS NOT NULL
					BEGIN
						DROP TABLE #only_src
					END;
				IF OBJECT_ID('tempdb..#only_tgt') IS NOT NULL
					BEGIN
						DROP TABLE #only_tgt
					END;
	
				--Origen
				SELECT colname
				INTO #only_src
				FROM sourceMetadata
				EXCEPT
				SELECT colname
				FROM targetMetadata;

				--Destino
				SELECT colname
				INTO #only_tgt
				FROM targetMetadata
				EXCEPT
				SELECT colname
				FROM sourceMetadata;

				--Origen
				IF EXISTS (SELECT 1 FROM #only_src)
					BEGIN
						SELECT @ERRColumList = STRING_AGG(colname, ', ') FROM #only_src;

						SET @LogMessage = CONCAT('column(s) [', @ERRColumList, '] exists at origin but not at target.', @sourceFullPath);

						EXEC dbo.sp_ETLRunLog_Message
							@TableListId		= @TTableListId,
							@ErrorLevel         = 'Error',
							@sourceDatabaseName = @sourceDatabaseName,
							@targetDatabaseName = @targetDatabaseName,
							@SchemaName			= @TTschema,
							@ObjectName			= @TTable,
							@ProcessName        = @procedureName,
							@CommandDetail		= @SQL,
							@Message            = @LogMessage;

						RAISERROR(@LogMessage, 16, 50002, @ERRColumList) WITH NOWAIT;

						/*
						Como la columna no existe en el destino, se salta esta tabla para evitar errores de consistencia
						*/
						FETCH NEXT FROM tablesCur INTO @TTexecutionID, @TTschema, @TTable, @TTableListId;
						CONTINUE;
					END;

				-- Destino
				IF EXISTS (SELECT 1 FROM #only_tgt)
				BEGIN
				  SELECT @isNullable =  is_nullable FROM targetMetadata

				  SET @LogMessage = (CONCAT('column(s) [', (SELECT STRING_AGG(colname, ', ') FROM #only_tgt), '] exists at target but not at origin.', 
				  (SELECT CASE WHEN @isNullable = 0 THEN ' Skipping table because column is not nullable.' ELSE ' Table is elegible to be processed. ' END)));

				  EXEC dbo.sp_ETLRunLog_Message
						@TableListId		= @TTableListId,
						@ErrorLevel         = 'Warning',
						@sourceDatabaseName = @sourceDatabaseName,
						@targetDatabaseName = @targetDatabaseName,
						@SchemaName			= @TTschema,
						@ObjectName			= @TTable,
						@ProcessName        = @procedureName,
						@CommandDetail		= @SQL,
						@Message            = @LogMessage;

				  /*Si no es nuleable se skipea la tabla*/
				  IF @isNullable = 0
					BEGIN
						FETCH NEXT FROM tablesCur INTO @TTexecutionID, @TTschema, @TTable, @TTableListId;
						CONTINUE;
					END;
				END;

				IF OBJECT_ID('tempdb..#diffs') IS NOT NULL
					BEGIN
						DROP TABLE #diffs
					END;

				WITH J AS (
					SELECT s.colname,
						   s.type_name  AS s_type,  t.type_name  AS t_type,
						   s.max_length AS s_len,   t.max_length AS t_len,
						   s.precision  AS s_prec,  t.precision  AS t_prec,
						   s.scale      AS s_scale, t.scale      AS t_scale,
						   s.is_nullable AS s_null, t.is_nullable AS t_null,
						   s.is_identity AS s_ident, t.is_identity AS t_ident,
						   s.collationName AS s_collation, t.collationName AS t_collation
					FROM sourceMetadata s JOIN targetMetadata t ON s.colname = t.colname
				)
				SELECT *
				INTO #diffs
				FROM J
				WHERE (s_type  <> t_type)
				   OR (s_len   <> t_len)
				   OR (s_prec  <> t_prec)
				   OR (s_scale <> t_scale)
				   OR (s_null  <> t_null)
				   OR (s_ident <> t_ident)
				   OR (s_collation <> t_collation)

				IF EXISTS (
					SELECT 1
					FROM #diffs
					WHERE (s_type <> t_type)
					   OR (t_len  < s_len  AND s_len  > 0)
					   OR (t_prec < s_prec OR t_scale < s_scale)
				)
				BEGIN
					SET @LogMessage = (
						SELECT STRING_AGG(
							CONCAT(
								N'Incompatibilty at column ', colname, N' ON ', @TTschema, N'.', @TTable,
								N' | src(', s_type, N', len=', s_len, N', prec=', s_prec, N', scale=', s_scale, 
								N', null=', s_null, N', ident=', s_ident, N')',
								N' -> tgt(', t_type, N', len=', t_len, N', prec=', t_prec, N', scale=', t_scale, 
								N', null=', t_null, N', ident=', t_ident, N')',
								N' Skipping table on the main process.'
							), 
							CHAR(13) + CHAR(10)
						)
						FROM #diffs
						WHERE (s_type <> t_type)
						   OR (t_len  < s_len  AND s_len  > 0)
						   OR (t_prec < s_prec OR t_scale < s_scale)
					);

					EXEC dbo.sp_ETLRunLog_Message
						@TableListId		= @TTableListId,
						@ErrorLevel         = 'Error',
						@sourceDatabaseName = @sourceDatabaseName,
						@targetDatabaseName = @targetDatabaseName,
						@SchemaName			= @TTschema,
						@ObjectName			= @TTable,
						@ProcessName        = @procedureName,
						@CommandDetail		= @SQL,
						@Message            = @LogMessage;

					FETCH NEXT FROM tablesCur INTO @TTexecutionID, @TTschema, @TTable, @TTableListId;
					CONTINUE;
				END;

				IF EXISTS (SELECT 1 FROM #diffs
						WHERE NOT (
							   (s_type <> t_type)
							OR (t_len  < s_len  AND s_len > 0)
							OR (t_prec < s_prec OR t_scale < s_scale)
							OR (s_collation <> t_collation)
						))
					BEGIN
						SET @LogMessage = (SELECT STRING_AGG(CONCAT(N' ', colname, N'Incosistency found at ', @TTschema, N'.', @TTable,
									  N' | src(', s_type, N', len=', s_len, N', prec=', s_prec, N', scale=', s_scale, N', null=', s_null, N', ident=', s_ident, N'collation=',s_collation , N')',
									  N' -> tgt(', t_type, N', len=', t_len, N', prec=', t_prec, N', scale=', t_scale, N', null=', t_null, N', ident=', t_ident, N'collation=', t_collation, N')'), CHAR(13) + CHAR(10))
							FROM #diffs
								WHERE NOT (
									   (s_type <> t_type)
									OR (t_len  < s_len  AND s_len > 0)
									OR (t_prec < s_prec OR t_scale < s_scale)
									OR (s_collation <> t_collation)));

						 --Advertencias tolerables (destino más amplio, nulabilidad distinta, collation distinto)
						EXEC dbo.sp_ETLRunLog_Message
							@TableListId		= @TTableListId,
							@ErrorLevel         = 'Warning',
							@sourceDatabaseName = @sourceDatabaseName,
							@targetDatabaseName = @targetDatabaseName,
							@SchemaName			= @TTschema,
							@ObjectName			= @TTable,
							@ProcessName        = @procedureName,
							@CommandDetail		= @SQL,
							@Message            = @LogMessage;
					END;

				/*Se actualizan las tablas elegibls que no pasaron por ningun subproceso*/
		
				UPDATE TTableExecutionOrderHint
				SET isSelected = 1
				WHERE executionID = @TTexecutionID

				FETCH NEXT FROM tablesCur INTO @TTexecutionID, @TTschema, @TTable, @TTableListId;

			END;

			CLOSE tablesCur;
			DEALLOCATE tablesCur;
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			BEGIN
				ROLLBACK TRAN;
			END;
		SET @Message = CONCAT(N'Error in procedure ', ISNULL(ERROR_MESSAGE(), 'GenerateDynamicMerge'), N' at line ', ERROR_LINE(), N': ', ERROR_PROCEDURE());

		EXEC [dbo].[sp_ETLRunLog_Message]
			@ErrorLevel         = 'Error',
			@sourceDatabaseName = NULL,
			@targetDatabaseName = @targetDatabaseName,
			@ProcessName        = @procedureName,
			@CommandDetail		= @SQL,
			@Message            = @Message;
			RETURN;
	END CATCH;
END;

