


CREATE         PROCEDURE [dbo].[sp_ETL_RestoreAndDeleteOldData]
(
@jobId VARCHAR(50),
@DatabasePrefix NVARCHAR(250) = 'PA_TowerBank_ICBanking_',
@backupFilePath NVARCHAR(2000),
@backupFileName VARCHAR(500),
@jobStepId SMALLINT
)
AS
    BEGIN   
    --internos
    DECLARE @procedureName SYSNAME = OBJECT_NAME(@@PROCID),
		    @oldDateSuffix NVARCHAR(20),
		    @currentDateSuffix NVARCHAR(20),
		    @fullPath NVARCHAR(4000),
		    @SQL NVARCHAR(MAX),
		    @targetDatabase SYSNAME,
		    @lastRun INT,
		    @stateDesc NVARCHAR(60),
		    @userAccessDesc NVARCHAR(60),
		    @currentDate DATETIME = GETDATE(),
		    @LogMessage NVARCHAR(MAX),
            @fileExists INT,
            @LogicalData NVARCHAR(128),
            @LogicalLog NVARCHAR(128),
            @MoveSQL NVARCHAR(MAX),
            @currentDatabase SYSNAME = DB_NAME(),
            @spid INT,
            @killSQL NVARCHAR(MAX),
            @physicalDataLoc NVARCHAR(MAX),
            @physicalLogLoc NVARCHAR(MAX),
            @DBstatus VARCHAR(60),
            @ParameterName VARCHAR(400) = 'SourceDatabase',
            @ParameterValue VARCHAR(400) = (SELECT TOP(1) ParameterValue FROM dbo.TParameterStore WHERE ParameterName = 'TargetDatabase'),
            @messageCode SYSNAME = 'DB_RESTORE_SUCCEED';

    DECLARE @FileList TABLE (
        LogicalName NVARCHAR(128),
        PhysicalName NVARCHAR(260),
        [Type] CHAR(1), 
        FileGroupName NVARCHAR(128),
        Size NUMERIC(20,0),
        MaxSize NUMERIC(20,0), 
        FileId BIGINT,
        CreateLSN NUMERIC(25,0),
        DropLSN NUMERIC(25,0), 
        UniqueId UNIQUEIDENTIFIER,
        ReadOnlyLSN NUMERIC(25,0),
        ReadWriteLSN NUMERIC(25,0), 
        BackupSizeInBytes BIGINT, 
        SourceBlockSize INT,
        FileGroupId INT, 
        LogGroupGUID UNIQUEIDENTIFIER,
        DifferentialBaseLSN NUMERIC(25,0), 
        DifferentialBaseGUID UNIQUEIDENTIFIER,
        IsReadOnly BIT,
        IsPresent BIT, 
        TDEThumbprint VARBINARY(32), 
        SnapshotUrl NVARCHAR(360)
    );

    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    
    EXEC sp_ETLRunLog_Start 
        @ErrorLevel = 'Info',
        @sourceDatabaseName = @currentDatabase, 
        @ProcessName = @procedureName,
        @Message = 'Recovery process has been started by the job.';

    SELECT @jobId
    -- Asignar las rutas por defecto del servidor a las variables
    SET @physicalDataLoc = CAST(SERVERPROPERTY('InstanceDefaultDataPath') AS NVARCHAR(MAX));
    SET @physicalLogLoc = CAST(SERVERPROPERTY('InstanceDefaultLogPath') AS NVARCHAR(MAX));

    -- Si la ruta del Log es NULL (no configurada), usar la misma que Data
    IF @physicalLogLoc IS NULL
        SET @physicalLogLoc = @physicalDataLoc; 

    SET @CurrentDateSuffix = REPLACE(CONVERT(NVARCHAR(10), GETDATE(), 5), '-', '_');
    Set @fullPath = @backupFilePath+@backupFileName;

    --Buscar la fecha de la ultima ejecucion exitosa del job
    SELECT TOP (1) @lastRun = run_date 
    FROM msdb.dbo.sysjobhistory 
    WHERE job_id = @jobId
      AND run_status = 1
      AND step_id = @jobStepId
    ORDER BY run_date DESC, run_time DESC;

    IF @lastRun IS NOT NULL
	    BEGIN
		    SET @oldDateSuffix = REPLACE(CONVERT(NVARCHAR(20), CAST(CAST(@lastRun AS CHAR(8)) AS DATE), 5), '-', '_');
		    --Nombre de la base de datos a borrar
		    SET @targetDatabase = @DatabasePrefix + @oldDateSuffix;
	    END;

    --Si la base de datos que queremos borrar existe
    IF DB_ID(@targetDatabase) IS NOT NULL
    BEGIN
        SELECT 
            @stateDesc = state_desc,
            @userAccessDesc = user_access_desc
        FROM sys.databases WHERE database_id = DB_ID(@targetDatabase);
        BEGIN TRY
            DECLARE session_cursor CURSOR FOR
                SELECT session_id 
                FROM sys.dm_exec_sessions
                WHERE database_id = DB_ID(@targetDatabase)
                  AND session_id <> @@SPID;
            OPEN session_cursor;
            FETCH NEXT FROM session_cursor INTO @spid;

            WHILE @@FETCH_STATUS = 0
                BEGIN
                    SET @killSQL = N'KILL ' + CAST(@spid AS NVARCHAR(5));
                    EXEC sp_executesql @killSQL;
                    FETCH NEXT FROM session_cursor INTO @spid;
                END;

            CLOSE session_cursor;
            DEALLOCATE session_cursor;

            IF EXISTS (SELECT 1 FROM sys.databases WHERE name = @targetDatabase AND user_access_desc <> 'SINGLE_USER')
            BEGIN
                SET @SQL = N'ALTER DATABASE ' + QUOTENAME(@targetDatabase) + N' SET SINGLE_USER WITH ROLLBACK IMMEDIATE;';
                EXEC sp_executesql @SQL;

                SET @LogMessage = CONCAT('Database ', QUOTENAME(@targetDatabase), ' forced to SINGLE_USER state to disconnect users.');
                EXEC dbo.sp_ETLRunLog_Message @status = 1, @ErrorLevel = 'Info', @targetDatabaseName = @targetDatabase, 
                                              @ProcessName = @procedureName, @CommandDetail = @SQL, @Message = @LogMessage;
            END
            IF EXISTS (SELECT 1 FROM sys.databases WHERE name = @targetDatabase AND user_access_desc = 'SINGLE_USER')
            BEGIN
                SET @SQL = N'DROP DATABASE ' + QUOTENAME(@targetDatabase) + N';';
                EXEC sp_executesql @SQL;

                SET @LogMessage = CONCAT('Database ', QUOTENAME(@targetDatabase), ' dropped successfully. Physical files removed.');
                EXEC dbo.sp_ETLRunLog_Message @status = 1, @ErrorLevel = 'Info', @targetDatabaseName = @targetDatabase, 
                                              @ProcessName = @procedureName, @CommandDetail = @SQL, @Message = @LogMessage;
            END
            ELSE 
            BEGIN
                IF NOT EXISTS (SELECT 1 FROM sys.databases WHERE name = @targetDatabase)
                BEGIN
                    SET @LogMessage = CONCAT('Database ', QUOTENAME(@targetDatabase), ' does not exist. Skipping DROP.');
                    EXEC dbo.sp_ETLRunLog_Message @status = 1, @ErrorLevel = 'Warning', @targetDatabaseName = @targetDatabase, 
                                                  @ProcessName = @procedureName, @CommandDetail = 'CHECK EXISTENCE', @Message = @LogMessage;
                END
                ELSE
                BEGIN
                    SET @LogMessage = CONCAT('Critical Error: Database ', QUOTENAME(@targetDatabase), ' could not be set to SINGLE_USER. Aborting DROP.');
                    EXEC dbo.sp_ETLRunLog_Message @status = 0, @ErrorLevel = 'Error', @targetDatabaseName = @targetDatabase, 
                                                  @ProcessName = @procedureName, @CommandDetail = @SQL, @Message = @LogMessage;
        
                    GOTO SendNotification;
                END
            END;
        END TRY
            BEGIN CATCH
			    IF XACT_STATE() <> 0
				    BEGIN
					    ROLLBACK TRAN;
				    END;
				    SET @LogMessage = CONCAT(
					    'Msg ', ERROR_NUMBER(), ', Level ', ERROR_SEVERITY(), 
					    ', State ', ERROR_STATE(), ', Line ', ERROR_LINE(), CHAR(13), CHAR(10),
					    ERROR_MESSAGE()
						    );

					    EXEC dbo.sp_ETLRunLog_Message
						    @status				= 0,
						    @ErrorLevel         = 'Error',
						    @targetDatabaseName = @targetDatabase,
						    @ProcessName        = @procedureName,
						    @CommandDetail		= @SQL,
						    @Message            = @LogMessage;
                        GOTO SendNotification;
						THROW;
            END CATCH;
    END;
        --Set current database Name
        SET @targetDatabase = @DatabasePrefix+@CurrentDateSuffix;

        EXEC master.dbo.xp_fileexist @fullPath, @fileExists OUTPUT;

    IF @fileExists = 1
        BEGIN
            BEGIN TRY
                -- Log de Inicio de Lectura
                SET @LogMessage = CONCAT('Starting metadata extraction (FILELISTONLY) from backup: ', @fullPath);
                EXEC dbo.sp_ETLRunLog_Message 
                    @status = 1, @ErrorLevel = 'Info', @targetDatabaseName = @targetDatabase, 
                    @ProcessName = @procedureName, @Message = @LogMessage;

                SET @SQL = N'RESTORE FILELISTONLY FROM DISK = ' + QUOTENAME(@fullPath, '''');
                INSERT INTO @FileList EXEC sp_executesql @SQL;
            
                -- Construcción del comando MOVE
                SET @MoveSQL = '';
                SELECT @MoveSQL = @MoveSQL +
                    N', MOVE ' + QUOTENAME(LogicalName, '''') +
                    N' TO ' + QUOTENAME(
                        CASE [Type]
                            WHEN 'L' THEN @physicalLogLoc   -- Si es Log, usa la ruta de logs
                            ELSE @physicalDataLoc           -- Si es Data ('D'), usa la ruta de datos
                        END +        
                        LogicalName + 
                        N'_' + @currentDateSuffix +  
                        -- Tu lógica original para la extensión
                        (CASE [type] 
                            WHEN 'L' THEN '.ldf' 
                            ELSE 
                                (CASE 
                                    WHEN CHARINDEX('.', REVERSE(RTRIM(PhysicalName))) > 0 
                                    THEN RIGHT(RTRIM(PhysicalName), CHARINDEX('.', REVERSE(RTRIM(PhysicalName)))) 
                                    ELSE '.ndf' 
                                 END) 
                         END), 
                    '''')
                FROM @FileList
                ORDER BY [FileId] ASC;

                -- Log previo a la Restauración Física
                SET @LogMessage = CONCAT('Initiating physical restore for database: ', QUOTENAME(@targetDatabase), '. Moving files to: ', @physicalDataLoc);
                EXEC dbo.sp_ETLRunLog_Message 
                    @status = 1, @ErrorLevel = 'Info', @targetDatabaseName = @targetDatabase, 
                    @ProcessName = @procedureName, @CommandDetail = @SQL,@Message = @LogMessage;

                SET @SQL = N'
                RESTORE DATABASE ' + QUOTENAME(@targetDatabase) + N'
                FROM DISK = ' + QUOTENAME(@fullPath, '''') + N'
                WITH REPLACE, RECOVERY, STATS = 10 ' + ISNULL(@MoveSQL, '') + N';';
   
                EXEC sp_executesql @SQL;

                -- Log de Éxito Final
                -- Contamos cuántos archivos se movieron para el log
                DECLARE @fileCount INT = (SELECT COUNT(*) FROM @FileList);
                SET @LogMessage = CONCAT('SUCCESS: Database ', QUOTENAME(@targetDatabase), ' has been fully restored. Total files processed: ', @fileCount);
            
                EXEC dbo.sp_ETLRunLog_Message 
                    @status = 1, @ErrorLevel = 'Info', @targetDatabaseName = @targetDatabase,
                    @ProcessName = @procedureName, @CommandDetail = @SQL,@Message = @LogMessage;

            END TRY
            BEGIN CATCH
                IF XACT_STATE() <> 0 ROLLBACK TRAN;

                SET @LogMessage = CONCAT(
                    'CRITICAL ERROR during restore of ', @targetDatabase, ': ', ERROR_MESSAGE(), 
                    ' | Number: ', ERROR_NUMBER(), ' | Line: ', ERROR_LINE()
                );

                EXEC dbo.sp_ETLRunLog_Message
                    @status             = 0,
                    @ErrorLevel         = 'Error',
                    @targetDatabaseName = @targetDatabase,
                    @ProcessName        = @procedureName,
                    @CommandDetail      = @SQL,
                    @Message            = @LogMessage;
            
                THROW;
            END CATCH;
        END
        ELSE
        BEGIN
            SET @LogMessage = CONCAT('ABORTED: Backup file not found at path: ', @fullPath);
            EXEC dbo.sp_ETLRunLog_Message 
                @status = 0, @ErrorLevel = 'Error', @targetDatabaseName = @targetDatabase, 
                @ProcessName = @procedureName, @CommandDetail = @SQL,@Message = @LogMessage;
            GOTO SendNotification;
            RAISERROR(@LogMessage, 16, 1);
        END;


        SELECT @DBstatus = state_desc FROM sys.databases WHERE database_id = DB_ID(@targetDatabase);

        --Comprobar salud de la base de datos
        IF (@DBStatus IS NULL OR @DBStatus <> 'ONLINE')
            BEGIN
                SET @LogMessage = CASE WHEN @DBStatus IS NULL THEN CONCAT('ABORTED: Database ', @targetDatabase, ' does not exist after restore.')
                ELSE CONCAT('ABORTED: Database ', @targetDatabase, ' is in state: ', @DBStatus, '. Expected ONLINE.') END
                
                EXEC dbo.sp_ETLRunLog_Message 
                        @status = 0, 
                        @ErrorLevel = 'Error', 
                        @targetDatabaseName = @targetDatabase, 
                        @ProcessName = @procedureName, 
                        @CommandDetail = @SQL, 
                        @Message = @LogMessage;
                GOTO SendNotification;
                RAISERROR(@LogMessage, 16, 1);
                RETURN;
            END;

        ELSE
        BEGIN
            SET @LogMessage = CONCAT('SUCCESS: Database ', @targetDatabase, ' is ONLINE and healthy.');
            EXEC dbo.sp_ETLRunLog_Message 
                @status = 1, @ErrorLevel = 'Info', @targetDatabaseName = @targetDatabase, 
                @ProcessName = @procedureName, @CommandDetail = @SQL, @Message = @LogMessage;
        END;

BEGIN TRY
        UPDATE dbo.TParameterStore
        SET ParameterValue = @targetDatabase
        WHERE ParameterName = @ParameterName;

        -- Si llegamos aquí, el update fue exitoso
        SET @LogMessage = CONCAT('SUCCESS: Parameter Store updated successfully to ', @targetDatabase, '. Process finished completely.');
        
        EXEC dbo.sp_ETLRunLog_Message 
            @status = 1, 
            @ErrorLevel = 'Info', 
            @targetDatabaseName = @targetDatabase, 
            @ProcessName = @procedureName, 
            @CommandDetail = NULL, 
            @Message = @LogMessage;

        GOTO SendNotification;
        RETURN; 
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRAN;

        SET @LogMessage = CONCAT(
            'CRITICAL ERROR updating TParameterStore. Target: ', @targetDatabase, 
            ' | Error: ', ERROR_MESSAGE(), 
            ' | Line: ', ERROR_LINE()
        );

        EXEC dbo.sp_ETLRunLog_Message
            @status = 0, 
            @ErrorLevel = 'Error',
            @targetDatabaseName = @targetDatabase,
            @ProcessName = @procedureName,
            @CommandDetail = NULL,
            @Message = @LogMessage;

        GOTO SendNotification; 
    END CATCH;


SendNotification:
    EXEC dbo.sp_ETLNotificationMail
	    @sourceDatabase = @targetDatabase,
	    @targetDatabase = @ParameterValue,
        @MessageCode = @messageCode;
END;

