

CREATE      PROCEDURE [dbo].[sp_ETLCreateMappingTable] (
@databaseName SYSNAME,
@schemaName SYSNAME,
@TableName SYSNAME,
@mapSchema SYSNAME = 'staging',
@mapTablePrefix SYSNAME = 'map_',
@newTPrefix NVARCHAR(50) = 'new_',
@oldTPrefix NVARCHAR(50) = 'old_'
)
AS BEGIN
SET NOCOUNT ON;
SET XACT_ABORT ON;

/*
El procedimiento busca de manera dinamica la tabla que se le indica
Determina las llaves primarias, las extrae y genera el comando 
para crear la tabla
*/
DECLARE @procedureName VARCHAR(250) = OBJECT_NAME(@@PROCID),
		@logMessage NVARCHAR(MAX),
		@mapTableName NVARCHAR(1000),
		@currentDatabaseName SYSNAME,
		@keyColumns NVARCHAR(MAX),
		@mapExistingId INT,
		@mappingTableName SYSNAME,
		@SQL NVARCHAR(MAX);

	SET @mapTableName = @mapTablePrefix+ @tableName;
	SET @mappingTableName = @mapSchema+'.'+@mapTableName;

	SELECT @currentDatabaseName = name 
	FROM sys.databases where database_id = DB_ID()

	/*Crear la tabla de Mapeo en Base a las PK de la tabla*/
	IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = @mapSchema AND TABLE_NAME = @mapTableName)
		BEGIN
			BEGIN TRY
			/*Extrae la llave primaria*/
			EXEC [dbo].[GetKeyColumnDynamic] 
					@database = @databaseName,
					@schemaName = @schemaName,
					@TableName = @TableName,
					@primaryKeyColumns = @KeyColumns OUTPUT;
			/*
			Extrae las llaves, Nombre de la Columna - Tipo de dato
			*/
			SELECT @SQL = dbo.fn_BuildMappingTableDDL(@mapSchema, @mapTableName, @KeyColumns, @oldTPrefix, @newTPrefix);

			BEGIN TRAN
				EXEC sp_executesql @SQL;
			COMMIT;
			/*Registrar creacion en log*/
			SET @logMessage = 'Table has been created successfuly.';

			EXEC dbo.sp_ETLRunLog_Message
						@status				= 1,
						@ErrorLevel         = 'Info',
						@targetDatabaseName = @currentDatabaseName,
						@SchemaName			= @mapSchema,
						@ObjectName			= @mapTableName,
						@ProcessName        = @procedureName,
						@CommandDetail		= @SQL,
						@Message            = @LogMessage;
		END TRY
		BEGIN CATCH
			IF XACT_STATE() <> 0
				BEGIN
					ROLLBACK TRAN;
				END;
				SET @LogMessage = CONCAT(
							'Msg ', ERROR_NUMBER(), ', Level ', ERROR_SEVERITY(), 
							', State ', ERROR_STATE(), ', Line ', ERROR_LINE(), CHAR(13), CHAR(10),
							'An error has ocurred creating the table ', QUOTENAME(@mapSchema), '.', QUOTENAME(@mapTableName), ': ', 
							ERROR_MESSAGE()
						);

				EXEC dbo.sp_ETLRunLog_Message
						@status				= 0,
						@ErrorLevel         = 'Error',
						@targetDatabaseName = @currentDatabaseName,
						@SchemaName			= @mapSchema,
						@ObjectName			= @mapTableName,
						@ProcessName        = @procedureName,
						@CommandDetail		= @SQL,
						@Message            = @LogMessage;
				END CATCH;
		END;
	ELSE
		BEGIN
			SET @logMessage = 'Table already exists. the process will skip the table creation.';

			EXEC dbo.sp_ETLRunLog_Message
						@status				= 1,
						@ErrorLevel         = 'Info',
						@targetDatabaseName = @currentDatabaseName,
						@SchemaName			= @mapSchema,
						@ObjectName			= @mapTableName,
						@ProcessName        = @procedureName,
						@CommandDetail		= @SQL,
						@Message            = @LogMessage;
		END;
END;


