
CREATE   PROCEDURE dbo.sp_ETLLogCleanup
    @selectedDatabase   sysname,
    @backupPath         NVARCHAR(4000),
    @logThreshold       FLOAT = 70,
    @compress           NVARCHAR(1) = N'Y',
    @verify             NVARCHAR(1) = N'Y',
    @cleanupTime        INT         = 24,
    @cleanupMode        NVARCHAR(20)= N'AFTER_BACKUP',
    @checkSum           NVARCHAR(1) = N'Y',
    @logToTable         NVARCHAR(1) = N'Y'
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @xp TABLE (
	isFile INT, 
	isDir INT,
	ParentDir INT);
    DECLARE
        @procedureName SYSNAME = N'sp_ETLLogCleanup',
        @targetDatabaseName SYSNAME = @SelectedDatabase,
        @LogMessage NVARCHAR(2000) = NULL,
        @SQL NVARCHAR(MAX) = NULL,
        @LogUsedPercent FLOAT = NULL,
        @LogFileName VARCHAR(500) = NULL,
        @ErrorMessage NVARCHAR(4000) = NULL,
        @NormalizedPath NVARCHAR(4000) = NULL,
        @NowStamp NVARCHAR(32) = NULL,
        @DiskPath NVARCHAR(4000) = NULL,
		@state_desc NVARCHAR(60), 
		@recovery_model_desc NVARCHAR(60),
		@ErrorSeverity INT,
		@ErrorState INT;

    -- Normalize path and timestamp
    SET @NormalizedPath = CASE WHEN RIGHT(@BackupPath,1) IN ('\','/') THEN @BackupPath ELSE @BackupPath + N'\' END;
    SET @NowStamp = CONVERT(NVARCHAR(8), GETDATE(), 112) + N'_' + REPLACE(CONVERT(NVARCHAR(8), GETDATE(), 108), ':', '');

    BEGIN TRY
        IF @SelectedDatabase IS NULL OR LTRIM(RTRIM(@SelectedDatabase)) = N''
        BEGIN
            EXEC dbo.sp_ETLRunLog_Message
                @ErrorLevel='Fatal Error', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
                @CommandDetail=NULL, @Message=N'@SelectedDatabase is required.';
            RAISERROR('@SelectedDatabase is required.', 16, 1); RETURN;
        END

        IF @BackupPath IS NULL OR LTRIM(RTRIM(@BackupPath)) = N''
        BEGIN
            EXEC dbo.sp_ETLRunLog_Message
                @ErrorLevel='Fatal Error', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
                @CommandDetail=NULL, @Message=N'@BackupPath is required.';
            RAISERROR('@BackupPath is required.', 16, 1); RETURN;
        END

        IF @LogThreshold IS NULL OR @LogThreshold < 0 OR @LogThreshold > 100
        BEGIN
            EXEC dbo.sp_ETLRunLog_Message
                @ErrorLevel='Fatal Error', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
                @CommandDetail=NULL, @Message=N'@LogThreshold must be between 0 and 100.';
            RAISERROR('@LogThreshold must be between 0 and 100.', 16, 1); RETURN;
        END

        SELECT @state_desc = state_desc,
		@recovery_model_desc = recovery_model_desc
        FROM sys.databases WHERE name = @SelectedDatabase;

        IF @state_desc <> N'ONLINE'
        BEGIN
            EXEC dbo.sp_ETLRunLog_Message
                @ErrorLevel='Error', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
                @CommandDetail=NULL, @Message=N'The database is not ONLINE.';
            RAISERROR('The database is not ONLINE.', 16, 1); RETURN;
        END

        IF @recovery_model_desc = N'SIMPLE'
        BEGIN
            EXEC dbo.sp_ETLRunLog_Message
                @ErrorLevel='Error', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
                @CommandDetail=NULL, @Message=N'The database is in SIMPLE recovery model. Log backups are not possible.';
            RAISERROR('The database is in SIMPLE recovery model. Log backups are not possible.', 16, 1); RETURN;
        END

        IF NOT (
            IS_SRVROLEMEMBER('sysadmin') = 1 OR
            HAS_PERMS_BY_NAME(@SelectedDatabase, 'DATABASE', 'BACKUP LOG') = 1 OR
            HAS_PERMS_BY_NAME(@SelectedDatabase, 'DATABASE', 'BACKUP DATABASE') = 1
        )
        BEGIN
            EXEC dbo.sp_ETLRunLog_Message
                @ErrorLevel='Error', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
                @CommandDetail=NULL, @Message=N'Caller does not have permissions to perform BACKUP LOG.';
            RAISERROR('Caller does not have permissions to perform BACKUP LOG.', 16, 1); RETURN;
        END

        -- 4) Backup directory exists / accessible
        INSERT INTO @xp EXEC master.dbo.xp_fileexist @NormalizedPath;
        IF (SELECT MAX(isDir) FROM @xp) <> 1
        BEGIN
            EXEC dbo.sp_ETLRunLog_Message
                @ErrorLevel='Fatal Error', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
                @CommandDetail=NULL, @Message=N'Backup directory does not exist or is not accessible by SQL Server.';
            RAISERROR('Backup directory does not exist or is not accessible by SQL Server.', 16, 1); 
			RETURN;
        END

        -- 5) DMV availability
        IF OBJECT_ID('sys.dm_db_log_space_usage') IS NULL
        BEGIN
            EXEC dbo.sp_ETLRunLog_Message
                @ErrorLevel='Fatal Error', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
                @CommandDetail=NULL, @Message=N'DMV sys.dm_db_log_space_usage is not available on this instance.';
            RAISERROR('DMV sys.dm_db_log_space_usage is not available on this instance.', 16, 1); RETURN;
        END

        SET @SQL = N'
            SELECT @LogUsedPercent = used_log_space_in_percent
            FROM ' + QUOTENAME(@SelectedDatabase) + N'.sys.dm_db_log_space_usage;

            SELECT @LogFileName = name
            FROM ' + QUOTENAME(@SelectedDatabase) + N'.sys.database_files
            WHERE type_desc = ''LOG'';';

        EXEC sp_executesql 
             @SQL,
             N'@LogUsedPercent FLOAT OUTPUT, @LogFileName VARCHAR(500) OUTPUT',
             @LogUsedPercent OUTPUT, @LogFileName OUTPUT;

        IF (@LogUsedPercent > @LogThreshold)
        BEGIN
			SET @LogMessage = N'Threshold exceeded (' + CAST(@LogUsedPercent AS NVARCHAR(32)) + N'% > ' + CAST(@LogThreshold AS NVARCHAR(32)) + N'%). Starting log backup.';
			EXEC dbo.sp_ETLRunLog_Message
			@ErrorLevel='Warning', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
			@CommandDetail=@SQL,
			@Message= @LogMessage;

            IF OBJECT_ID('master.dbo.DatabaseBackup', 'P') IS NOT NULL
            BEGIN
                SET @SQL = N'
                    EXECUTE [master].[dbo].[DatabaseBackup]
                        @Databases = @Databases,
                        @Directory = @Directory,
                        @BackupType = @BackupType,
                        @Compress = @Compress,
                        @Verify = @Verify,
                        @CleanupTime = @CleanupTime,
                        @CleanupMode = @CleanupMode,
                        @CheckSum = @CheckSum,
                        @LogToTable = @LogToTable;';

                EXEC sp_executesql 
                 @SQL,
                 N'@Databases NVARCHAR(50), @Directory NVARCHAR(255), @BackupType NVARCHAR(10), @Compress NVARCHAR(1),
				@Verify NVARCHAR(1), @CleanupTime INT, @CleanupMode NVARCHAR(20), @CheckSum NVARCHAR(1), @LogToTable NVARCHAR(1)',
                  @SelectedDatabase, @NormalizedPath, N'LOG', @Compress, @Verify, @CleanupTime, @CleanupMode, @CheckSum, @LogToTable;

                EXEC dbo.sp_ETLRunLog_Message
					@status = 1,
                    @ErrorLevel='Info', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
                    @CommandDetail=@SQL, @Message=N'Log backup completed using DatabaseBackup.';
            END
            ELSE
            BEGIN
                -- Native BACKUP LOG
                SET @DiskPath = @NormalizedPath + @SelectedDatabase + N'_LOG_BACKUP_' + @NowStamp + N'.trn';
                SET @SQL = N'BACKUP LOG ' + QUOTENAME(@SelectedDatabase) + N'
                             TO DISK = @DiskPath
                             WITH INIT, COMPRESSION, CHECKSUM;';

                EXEC sp_executesql 
                    @SQL,
                    N'@DiskPath NVARCHAR(4000)',
                    @DiskPath = @DiskPath;

				EXEC dbo.sp_ETLRunLog_Message
				@status = 1,
				@ErrorLevel='Info', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
				@CommandDetail= @SQL,
				@Message=N'Log backup completed using native BACKUP LOG.';
            END
        END
    END TRY
    BEGIN CATCH
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

		SET @LogMessage = N'Exception during log cleanup: ' + ISNULL(@ErrorMessage,N'(no detail)')
					+ N' | Severity: ' + CAST(ISNULL(@ErrorSeverity,0) AS NVARCHAR(10))
					+ N' | State: '    + CAST(ISNULL(@ErrorState,0) AS NVARCHAR(10));
		EXEC dbo.sp_ETLRunLog_Message
		@ErrorLevel='Error', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
		@CommandDetail=@SQL,
		@Message= @LogMessage;
        THROW;
    END CATCH
END

