
CREATE   PROCEDURE [dbo].[sp_ETLNotificationMail] (@sourceDatabase SYSNAME, 
@targetDatabase SYSNAME, 
@messageCode SYSNAME = 'PROCESS_SUCCEED')
AS
	BEGIN
		DECLARE 
		@procedureName SYSNAME = OBJECT_NAME(@@PROCID),
				@minLogId INTEGER,
				@maxLogId INTEGER,
				@mailProfile NVARCHAR(256),
				@RecipientsList NVARCHAR(MAX),
				@SubjectTemplate NVARCHAR(512),
				@statusLabel NVARCHAR(20),
				@startTime DATETIME2(3),
				@endTime DATETIME2(3),
				@durationMin DECIMAL(16,2),
				@startMsg NVARCHAR(2000),
				@endMsg   NVARCHAR(2000),
				@RowsHtml   NVARCHAR(MAX),
				@WarnHtml   NVARCHAR(MAX),
				@HTMLTemplate NVARCHAR(MAX),
				@ctx SQL_VARIANT,
				@sessionGUID NVARCHAR(512),
				@currentDatabaseName SYSNAME,
				@errorCount INT,
				@LogMessage NVARCHAR(2000),
				@subject NVARCHAR(512),
				@importance NVARCHAR(25) = 'Normal',
				@flag BIT,
				@fromAddress NVARCHAR(100) = 'ETLPreprodProcess@towerbank.com',
				@ErrorsTableHtml NVARCHAR(MAX),
				@HTMLInformationTemplate NVARCHAR(MAX),
				@MaxErrorLevel SMALLINT;

		SET @ctx = SESSION_CONTEXT(N'ETL_CorrelationId');

        IF @ctx IS NOT NULL
            SET @sessionGUID = TRY_CONVERT(NVARCHAR(512), @ctx);

		/*Nombre de la base de datos actual*/
		SELECT @currentDatabaseName = DB_NAME();
		/*Obtener perfil*/
		SELECT @mailProfile = name FROM msdb.dbo.sysmail_profile;
		/*Obtener lista de correos para notificar*/
		SELECT @RecipientsList = STRING_AGG(email, ';') FROM [dbo].[TTemailNotification];

		IF @sessionGUID IS NULL
		BEGIN
			SET @LogMessage = CONCAT(
				N'Notification process could not find a session GUID in SESSION_CONTEXT. ',
				N'This means there is no correlation ID associated with the current ETL session. ',
				N'Without this identifier, it is impossible to locate related execution logs. ',
				N'Skipping reporting process.');

			EXEC dbo.sp_ETLRunLog_Message
				@status = 0,
				@ErrorLevel = 'Fatal Error',
				@targetDatabaseName = @currentDatabaseName,
				@ProcessName = @procedureName,
				@Message = @LogMessage;

				SELECT 
						@importance = Severity,
						@SubjectTemplate = SubjectTemplate,
						@HTMLTemplate = COALESCE(HtmlTemplate, TextTemplate)
				FROM TTHTMLGenericMessages 
				WHERE MessageCode = 'NO_SESSION_GUID' AND isActive = 1

				/*Se reemplazan*/
				SELECT @HTMLTemplate = REPLACE(@HTMLTemplate, '{{ProcedureName}}', @procedureName);
				SELECT @HTMLTemplate = REPLACE(@HTMLTemplate, '{{DatabaseName}}', @currentDatabaseName);
				SELECT @HTMLTemplate = REPLACE(@HTMLTemplate, '{{CurrentDateTime}}', GETDATE());
		END;

		DROP TABLE IF EXISTS #SessionLogs;
		--Get an Snapshot of the table on temporal data
		SELECT *
		INTO #SessionLogs
		FROM dbo.ETLRunLog WITH (NOLOCK)
		WHERE CorrelationId = @sessionGUID;

		--Temporal Index for orders
		CREATE CLUSTERED INDEX IX_TempLogs ON #SessionLogs(runID);

		SELECT 
			@StartTime = MIN(startTime),
			@EndTime   = MAX(endTime),
			@MaxErrorLevel = MAX(errorLevel),
			@ErrorCount = COUNT(CASE WHEN errorLevel >= 3 THEN 1 END)
		FROM #SessionLogs;

		SET @EndTime = ISNULL(@EndTime, SYSDATETIME());
		SET @DurationMin = ROUND(DATEDIFF(SECOND, @StartTime, @EndTime) / 60.0, 2);

		IF @messageCode LIKE 'DB_RESTORE%'
		BEGIN
			-- Lógica para Restauracion
			IF @MaxErrorLevel >= 3 
				SET @MessageCode = 'DB_RESTORE_FATAL';
			ELSE 
				SET @MessageCode = 'DB_RESTORE_SUCCEED';
		END
		ELSE
		BEGIN
			IF @MaxErrorLevel >= 4 
				SET @MessageCode = 'PROCESS_FATAL';
			ELSE IF @MaxErrorLevel = 3 
				SET @MessageCode = 'PROCESS_ERROR';
			ELSE IF @MaxErrorLevel = 2 OR EXISTS (SELECT 1 FROM #SessionLogs WHERE errorLevel = 2)
			BEGIN
				SET @MessageCode = 'PROCESS_SUCCEED';
				SET @importance = 'High';
			END;
		END;

	SELECT @importance = Severity FROM TTHTMLGenericMessages WHERE MessageCode = @messageCode;

		SELECT 
			@SubjectTemplate = SubjectTemplate,
			@HTMLTemplate = COALESCE(HtmlTemplate, TextTemplate),
			@importance = CASE WHEN Severity IS NOT NULL THEN Severity ELSE @importance END
		FROM dbo.TTHTMLGenericMessages 
		WHERE MessageCode = @MessageCode AND IsActive = 1;

		;WITH FormattedRows AS (
		SELECT 
			ROW_NUMBER() OVER (ORDER BY runID) as RowNum,
			ObjectName,
			rowsIn,
			[rows]
		FROM #SessionLogs
		WHERE ProcessName = 'sp_OrchestrateETLMergeExecution'
		  AND rowsIn > 0
	)
	SELECT @RowsHtml = 
		N'<h3 style="margin:16px 0 6px;">Affected Rows</h3>' +
		N'<table border="1" cellpadding="5" cellspacing="0" style="border-collapse:collapse;">' +
		N'<tr><th>#</th><th>Object</th><th>Affected Rows</th><th>Total Count</th></tr>' + 
		STRING_AGG(CAST(
			N'<tr>' +
			-- Celda del número de fila
			N'<td>' + CAST(RowNum AS NVARCHAR(10)) + N'</td>' + 
			N'<td>' + ISNULL(ObjectName, N'') + N'</td>' +
			N'<td style="text-align:right;">' + CAST(ISNULL(rowsIn,0) AS NVARCHAR(20)) + N'</td>' +
			N'<td style="text-align:right;">' + CAST((ISNULL([rows],0)+ISNULL(rowsIn,0)) AS NVARCHAR(20)) + N'</td>' +
			N'</tr>'
		AS NVARCHAR(MAX)), N'') + N'</table>'
	FROM FormattedRows;

    IF @RowsHtml IS NULL SET @RowsHtml = N'<h3 style="margin:16px 0 6px;">Affected Rows</h3><p>No data.</p>';

	SELECT @WarnHtml = 
        N'<h3 style="margin:16px 0 6px;">Warnings</h3>' +
        N'<table border="1" cellpadding="5" cellspacing="0" style="border-collapse:collapse;">' +
        N'<tr><th>Process</th><th>Object</th><th>Message</th></tr>' +
        STRING_AGG(CAST(
            N'<tr>' +
            N'<td>' + ISNULL(ProcessName, N'') + N'</td>' +
            N'<td>' + ISNULL(ObjectName, N'') + N'</td>' +
            N'<td>' + ISNULL([Message], N'') + N'</td>' +
            N'</tr>'
        AS NVARCHAR(MAX)), N'') + N'</table>'
    FROM #SessionLogs
    WHERE errorLevel = 2;

	IF @WarnHtml IS NULL SET @WarnHtml = N'<h3 style="margin:16px 0 6px;">Warnings</h3><p>No warnings.</p>';

	IF @MaxErrorLevel >= 3
    BEGIN
        SELECT @ErrorsTableHtml =  N'<h3 style="margin:16px 0 6px;">Errors</h3>' +
            N'<table border="1" cellpadding="5" cellspacing="0" style="border-collapse:collapse;">' +
            N'<tr><th>Level</th><th>Process</th><th>Object</th><th>Message</th></tr>' +
            STRING_AGG(CAST(
                N'<tr>' +
                N'<td>' + CAST(errorLevel AS NVARCHAR(2)) + N'</td>' +
                N'<td>' + ISNULL(ProcessName, N'') + N'</td>' +
                N'<td>' + ISNULL(ObjectName, N'') + N'</td>' +
                N'<td>' + ISNULL([Message], N'') + N'</td>' +
                N'</tr>'
            AS NVARCHAR(MAX)), N'') + N'</table>'
        FROM #SessionLogs
        WHERE errorLevel >= 3;
    END;

	SET @HTMLInformationTemplate = CONCAT(
        N'<div style="font-family:Segoe UI,Arial,sans-serif;font-size:12px;">',
        @RowsHtml, 
        @WarnHtml, 
        ISNULL(@ErrorsTableHtml, ''), 
        N'<p style="color:#666;">Generated: ', CONVERT(NVARCHAR(19), SYSDATETIME(), 120), N'</p></div>'
    );

	SELECT 
			@importance = Severity,
			@SubjectTemplate = SubjectTemplate,
			@HtmlTemplate    = COALESCE(HtmlTemplate, textTemplate)
		FROM dbo.TTHTMLGenericMessages WITH (NOLOCK)
		WHERE MessageCode = @MessageCode AND IsActive = 1;

		IF @SubjectTemplate IS NULL OR @HtmlTemplate IS NULL
		BEGIN
			RAISERROR('Template not found or inactive %s', 16, 1, @MessageCode);
			RETURN;
		END

		SELECT @HtmlTemplate = REPLACE(@HtmlTemplate, N'{{ProcedureName}}', (SELECT ISNULL(STRING_AGG(ProcessName, ', '), 'None (All steps executed successfully).')
		FROM (SELECT DISTINCT ProcessName FROM #SessionLogs
		WHERE errorLevel IN (SELECT errorLevelId FROM dbo.RunLogLevel WHERE errorLevelId > 1)) AS d));

		SELECT @HtmlTemplate = REPLACE(@HtmlTemplate, N'{{SourceDatabaseName}}', @sourceDatabase);
		SELECT @HtmlTemplate = REPLACE(@HtmlTemplate, N'{{TargetDatabaseName}}', @targetDatabase);
		SELECT @HtmlTemplate = REPLACE(@HtmlTemplate, N'{{CorrelationId}}', CONVERT(NVARCHAR(36), @sessionGUID));
		SELECT @HtmlTemplate = REPLACE(@HtmlTemplate, N'{{StartTime}}', CONVERT(NVARCHAR(19), @StartTime, 120));
		SELECT @HtmlTemplate = REPLACE(@HtmlTemplate, N'{{EndTime}}', CONVERT(NVARCHAR(19), @EndTime,   120));
		SELECT @HtmlTemplate = REPLACE(@HtmlTemplate, N'{{DurationMinutes}}', @durationMin);
		SELECT @HtmlTemplate = REPLACE(@HtmlTemplate, N'{{ErrorCount}}', CONVERT(NVARCHAR(20), @ErrorCount));
		SELECT @HtmlTemplate = REPLACE(@HtmlTemplate, N'{{ErrorsTableHtml}}', ISNULL(@HTMLInformationTemplate, N''));

		PRINT @HtmlTemplate


		EXEC msdb.dbo.sp_send_dbmail
			@profile_name = @mailProfile,
			@recipients = @RecipientsList,
			@subject = @SubjectTemplate,
			@body = @HTMLTemplate,
			@body_format = 'HTML',
			@importance = @importance;
	END;

