
CREATE         PROCEDURE [dbo].[sp_ETL_LoadForeignKeyMetadata]
    @targetDatabaseName SYSNAME,         
    @stagingSchema      SYSNAME, 
    @schemaName         SYSNAME,
    @targetTable        SYSNAME,
    @oldPrefix          VARCHAR(50),
    @newPrefix          VARCHAR(50),
    @mapTablePrefix     SYSNAME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = N'
    INSERT INTO dbo.foreignKeyMetadata
    SELECT
        cparent.name AS FKColumnName,
        sch_ref.name AS RefSchema,
        tref.name    AS RefTable,
        cref.name    AS RefPKColumn,
                CASE 
            WHEN mm.ManualMapTable IS NOT NULL THEN mm.ManualMapTable
            ELSE QUOTENAME(@staging) + ''.'' + QUOTENAME(@mapPrefix + tref.name) 
        END AS MapTable,
        CASE 
            WHEN mm.ManualOldCol IS NOT NULL THEN mm.ManualOldCol
            ELSE @oldPrefix + cref.name 
        END AS MapOldCol,
        CASE 
            WHEN mm.ManualNewCol IS NOT NULL THEN mm.ManualNewCol
            ELSE @newPrefix + cref.name 
        END AS MapNewCol,
        ''m_'' + tref.name + CHAR(65 + ABS(CHECKSUM(NEWID())) % 26) +
        CHAR(65 + ABS(CHECKSUM(NEWID())) % 26) AS MapAlias
    FROM ' + QUOTENAME(@targetDatabaseName) + N'.sys.foreign_key_columns AS fkc
    JOIN ' + QUOTENAME(@targetDatabaseName) + N'.sys.tables  AS tparent      ON tparent.object_id = fkc.parent_object_id
    JOIN ' + QUOTENAME(@targetDatabaseName) + N'.sys.schemas AS sch_parent  ON sch_parent.schema_id = tparent.schema_id
    JOIN ' + QUOTENAME(@targetDatabaseName) + N'.sys.columns AS cparent      ON cparent.object_id = fkc.parent_object_id AND cparent.column_id = fkc.parent_column_id
    JOIN ' + QUOTENAME(@targetDatabaseName) + N'.sys.tables  AS tref         ON tref.object_id = fkc.referenced_object_id
    JOIN ' + QUOTENAME(@targetDatabaseName) + N'.sys.schemas AS sch_ref      ON sch_ref.schema_id = tref.schema_id
    JOIN ' + QUOTENAME(@targetDatabaseName) + N'.sys.columns AS cref         ON cref.object_id = fkc.referenced_object_id AND cref.column_id = fkc.referenced_column_id
    --Puente hacia tu lista maestra de tablas para obtener el ID
    LEFT JOIN dbo.TTableList AS tl
        ON tl.tablename = tparent.name
        AND tl.schemaname = sch_parent.name
    -- Join a tu tabla de Mapeo Manual usando el ID seguro
    LEFT JOIN dbo.TTNeedsManualMapping AS mm
        ON mm.tableListId = tl.tableListID
        AND mm.ColumnName = cparent.name
        AND mm.IsActive = 1
    WHERE sch_parent.name = @sch
      AND tparent.name    = @tbl
      AND (
          EXISTS (
            SELECT 1
            FROM sys.tables t
            INNER JOIN sys.schemas s ON s.schema_id = t.schema_id
            WHERE t.name = CONCAT(@mapPrefix, tref.name)
          )
          OR mm.manualMappingID IS NOT NULL
);';

    EXEC sys.sp_executesql
        @SQL,
        N'@staging SYSNAME, @sch SYSNAME, @tbl SYSNAME, @oldPrefix VARCHAR(50), @newPrefix VARCHAR(50), @mapPrefix SYSNAME',
        @staging  = @stagingSchema,
        @sch      = @schemaName,
        @tbl      = @targetTable,
        @oldPrefix= @oldPrefix,
        @newPrefix= @newPrefix,
        @mapPrefix= @mapTablePrefix;
END

