


CREATE   PROCEDURE dbo.sp_ETLFullBackup
    @selectedDatabase  sysname,
    @backupPath        NVARCHAR(4000),
    @compress          NVARCHAR(1) = N'Y',
    @verify            NVARCHAR(1) = N'Y',
    @cleanupTime       INT          = 7,
    @cleanupMode       NVARCHAR(20) = N'AFTER_BACKUP',
    @checkSum          NVARCHAR(1)  = N'Y',
    @logToTable        NVARCHAR(1)  = N'Y',
    @copyOnly          NVARCHAR(1)  = N'N'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @xp TABLE ( isFile INT, isDir INT, ParentDir INT );

    DECLARE
        @procedureName       SYSNAME        = N'sp_ETLFullBackup',
        @targetDatabaseName  SYSNAME        = @selectedDatabase,
        @LogMessage          NVARCHAR(2000) = NULL,
        @SQL                 NVARCHAR(MAX)  = NULL,
        @ErrorMessage        NVARCHAR(4000) = NULL,
        @NormalizedPath      NVARCHAR(4000) = NULL,
        @NowStamp            NVARCHAR(32)   = NULL,
        @DiskPath            NVARCHAR(4000) = NULL,
        @state_desc          NVARCHAR(60),
        @recovery_model_desc NVARCHAR(60),
        @ErrorSeverity       INT,
        @ErrorState          INT,
		@cleanupTimeConverted INT;

    -- Normalizar path y timestamp
    SET @NormalizedPath = CASE WHEN RIGHT(@backupPath,1) IN ('\','/') THEN @backupPath ELSE @backupPath + N'\' END;
    SET @NowStamp = CONVERT(NVARCHAR(8), GETDATE(), 112) + N'_' + REPLACE(CONVERT(NVARCHAR(8), GETDATE(), 108), ':', '');

    BEGIN TRY
        IF @selectedDatabase IS NULL OR LTRIM(RTRIM(@selectedDatabase)) = N''
        BEGIN
            EXEC dbo.sp_ETLRunLog_Message
                @ErrorLevel='Fatal Error', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
                @CommandDetail=NULL, @Message=N'@SelectedDatabase is required.';
            RAISERROR('@SelectedDatabase is required.', 16, 1);
            RETURN;
        END

        IF @backupPath IS NULL OR LTRIM(RTRIM(@backupPath)) = N''
        BEGIN
            EXEC dbo.sp_ETLRunLog_Message
                @ErrorLevel='Fatal Error', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
                @CommandDetail=NULL, @Message=N'@BackupPath is required.';
            RAISERROR('@BackupPath is required.', 16, 1);
            RETURN;
        END

        SELECT
            @state_desc = state_desc,
            @recovery_model_desc = recovery_model_desc
        FROM sys.databases
        WHERE name = @selectedDatabase;

        IF @state_desc <> N'ONLINE'
        BEGIN
            EXEC dbo.sp_ETLRunLog_Message
                @ErrorLevel='Error', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
                @CommandDetail=NULL, @Message=N'The database is not ONLINE.';
            RAISERROR('The database is not ONLINE.', 16, 1);
            RETURN;
        END

        IF NOT ( IS_SRVROLEMEMBER('sysadmin') = 1
                 OR HAS_PERMS_BY_NAME(@selectedDatabase, 'DATABASE', 'BACKUP DATABASE') = 1 )
        BEGIN
            EXEC dbo.sp_ETLRunLog_Message
                @ErrorLevel='Error', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
                @CommandDetail=NULL, @Message=N'Caller does not have permissions to perform BACKUP DATABASE.';
            RAISERROR('Caller does not have permissions to perform BACKUP DATABASE.', 16, 1);
            RETURN;
        END

        /* ---------- Directorio de backup accesible ---------- */
        INSERT INTO @xp EXEC master.dbo.xp_fileexist @NormalizedPath;
        IF (SELECT MAX(isDir) FROM @xp) <> 1
        BEGIN
            EXEC dbo.sp_ETLRunLog_Message
                @ErrorLevel='Fatal Error', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
                @CommandDetail=NULL, @Message=N'Backup directory does not exist or is not accessible by SQL Server.';
            RAISERROR('Backup directory does not exist or is not accessible by SQL Server.', 16, 1);
            RETURN;
        END
		SET @LogMessage = N'Starting FULL backup. Recovery model: ' + ISNULL(@recovery_model_desc,N'(unknown)');

        EXEC dbo.sp_ETLRunLog_Message
            @ErrorLevel='Info', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
            @CommandDetail=NULL,
            @Message = @LogMessage

        -- Si existe Ola Hallengren, usarla
        IF OBJECT_ID('master.dbo.DatabaseBackup', 'P') IS NOT NULL
        BEGIN
			SET @cleanupTimeConverted = @cleanupTime * 24;
            SET @SQL = N'
                EXEC [master].[dbo].[DatabaseBackup]
                    @Databases   = @Databases,
                    @Directory   = @Directory,
                    @BackupType  = @BackupType,
                    @Compress    = @Compress,
                    @Verify      = @Verify,
                    @CleanupTime = @CleanupTime,
                    @CleanupMode = @CleanupMode,
                    @CheckSum    = @CheckSum,
                    @LogToTable  = @LogToTable,
                    @CopyOnly    = @CopyOnly;';

            EXEC sp_executesql
                @SQL,
                N'@Databases NVARCHAR(256), @Directory NVARCHAR(4000), @BackupType NVARCHAR(10),
                  @Compress NVARCHAR(1), @Verify NVARCHAR(1), @CleanupTime INT, @CleanupMode NVARCHAR(20),
                  @CheckSum NVARCHAR(1), @LogToTable NVARCHAR(1), @CopyOnly NVARCHAR(1)',
                @Databases   = @selectedDatabase,
                @Directory   = @NormalizedPath,
                @BackupType  = N'FULL',
                @Compress    = @compress,
                @Verify      = @verify,
                @CleanupTime = @cleanupTimeConverted,
                @CleanupMode = @cleanupMode,
                @CheckSum    = @checkSum,
                @LogToTable  = @logToTable,
                @CopyOnly    = @copyOnly;

        END
        ELSE
        BEGIN
            -- Backup nativo
            SET @DiskPath = @NormalizedPath + @selectedDatabase + N'_FULL_' + @NowStamp + N'.bak';

            SET @SQL = N'BACKUP DATABASE ' + QUOTENAME(@selectedDatabase) + N'
                         TO DISK = @DiskPath WITH INIT';

            IF @compress = N'Y' SET @SQL += N', COMPRESSION';
            IF @checkSum = N'Y' SET @SQL += N', CHECKSUM';
            IF @copyOnly = N'Y' SET @SQL += N', COPY_ONLY';

            SET @SQL += N', NAME = N''' + REPLACE(@selectedDatabase,'''','''''') + N' - FULL ' + @NowStamp + N'''';

            SET @SQL += N';';

            EXEC sp_executesql @SQL, N'@DiskPath NVARCHAR(4000)', @DiskPath = @DiskPath;

            -- Verificacion
            IF @verify = N'Y'
            BEGIN
                SET @SQL = N'RESTORE VERIFYONLY FROM DISK = @DiskPath';

                IF @checkSum = N'Y' SET @SQL += N' WITH CHECKSUM';

                SET @SQL += N';';

                EXEC sp_executesql @SQL, N'@DiskPath NVARCHAR(4000)', @DiskPath = @DiskPath;

                EXEC dbo.sp_ETLRunLog_Message
                    @ErrorLevel='Info', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
                    @CommandDetail=@SQL, @Message=N'Backup file verified (RESTORE VERIFYONLY).';
            END
        END
    END TRY
    BEGIN CATCH
        SELECT
            @ErrorMessage  = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState    = ERROR_STATE();

        SET @LogMessage = N'Exception during FULL backup: ' + ISNULL(@ErrorMessage,N'(no detail)')
                          + N' | Severity: ' + CAST(ISNULL(@ErrorSeverity,0) AS NVARCHAR(10))
                          + N' | State: '    + CAST(ISNULL(@ErrorState,0) AS NVARCHAR(10));

        EXEC dbo.sp_ETLRunLog_Message
            @ErrorLevel='Error', @targetDatabaseName=@targetDatabaseName, @ProcessName=@procedureName,
            @CommandDetail=@SQL, @Message=@LogMessage;

        THROW;
    END CATCH
END

