
CREATE   PROCEDURE dbo.sp_ETLRunLog_Message
	@Correlation NVARCHAR(512) = NULL,
	@status BIT = 0,
	@TableListID INT = NULL,
	@Rows BIGINT = 0,
	@RowsIn BIGINT = 0,
	@ErrorLevel VARCHAR(100) = NULL,
	@sourceDatabaseName SYSNAME = NULL,
	@targetDatabaseName SYSNAME = NULL,
	@SchemaName SYSNAME = NULL,
	@ObjectName SYSNAME = NULL,
	@ProcessName SYSNAME = NULL,
	@CommandDetail NVARCHAR(MAX) = NULL,
	@Message NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
	
	DECLARE @ErrorLevelId INT,
			@ctx SQL_VARIANT;

    IF @Correlation IS NULL
    BEGIN
        SET @ctx = SESSION_CONTEXT(N'ETL_CorrelationId');
        IF @ctx IS NOT NULL
            SET @Correlation = TRY_CONVERT(NVARCHAR(512), @ctx);
    END;

    IF @Correlation IS NULL
    BEGIN
        RAISERROR('The process Couldn''t find an UUID related to this session. please make sure to start with sp_ETLRunLog_Start to attach an UUID to the session.', 16, 1);
        RETURN;
    END;

    SELECT @ErrorLevelId = dbo.fn_GetErrorLevelId(@ErrorLevel);

  INSERT INTO dbo.ETLRunLog
    (
        status, tableListID, rows, rowsIn, errorLevel,
        sourceDatabaseName, targetDatabaseName, SchemaName, ObjectName, ProcessName, CommandDetail, message,
        CorrelationId
    )
    VALUES
    (
        @status, @TableListID, @Rows, @RowsIn, @ErrorLevelId,
        @sourceDatabaseName, @targetDatabaseName, @SchemaName, @ObjectName, @ProcessName, @CommandDetail, @Message,
        @Correlation
    );
END
