CREATE     PROCEDURE [dbo].[sp_ETLRunLog_Start]
  @CorrelationId UNIQUEIDENTIFIER = NULL OUTPUT,
  @TableListID INT = NULL,
  @Rows BIGINT = 0,
  @RowsIn BIGINT = 0,
  @ErrorLevel VARCHAR(100) = NULL,
  @sourceDatabaseName SYSNAME = NULL,
  @targetDatabaseName SYSNAME = NULL,
  @SchemaName SYSNAME = NULL,
  @ObjectName SYSNAME = NULL,
  @ProcessName SYSNAME = NULL,
  @CommandDetail NVARCHAR(MAX) = NULL,
  @Message NVARCHAR(MAX) = NULL
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @ErrorLevelId INT;

   SET @CorrelationId = NEWID();

  SELECT @ErrorLevelId = dbo.fn_GetErrorLevelId(@ErrorLevel);

  INSERT INTO dbo.ETLRunLog (
    status,tableListID,rows,rowsIn,errorLevel,
    sourceDatabaseName, targetDatabaseName, SchemaName,ObjectName,ProcessName, CommandDetail,message,CorrelationId
  )
  VALUES (
     1, @TableListID, @Rows, @RowsIn, @ErrorLevelId,
    @sourceDatabaseName, @targetDatabaseName, @SchemaName, @ObjectName, @ProcessName, @CommandDetail, @Message, @CorrelationId
  );

  -- Guardar el GUID en la sesion para no tener que pasarlo
  EXEC sys.sp_set_session_context @key = N'ETL_CorrelationId', @value = @CorrelationId;

END;

