


CREATE         PROCEDURE [dbo].[sp_ETLUpsertKeyTables](
	@sourceDatabaseName SYSNAME,
	@targetDatabaseName SYSNAME,
	@DatabaseCollate VARCHAR(150),
	@schemaName SYSNAME,
	@sourceTable VARCHAR(512),
	@targetTable VARCHAR(512),
	@SQLCommand NVARCHAR(MAX) OUTPUT
)
AS 
	BEGIN
		SET NOCOUNT ON;

		DECLARE @procedureName SYSNAME = OBJECT_NAME(@@PROCID),
				@SQL NVARCHAR(MAX),
				@onClause NVARCHAR(MAX),
				@SQLSpecialCases NVARCHAR(MAX),
				@message NVARCHAR(MAX),
				@keys NVARCHAR(MAX),
				@CurKeys NVARCHAR(MAX),
				@CurValues NVARCHAR(MAX),
				@values NVARCHAR(MAX),
				@logicalOperator NVARCHAR(MAX),
				@joinWithPrev NVARCHAR(MAX),
				@KeyColumn NVARCHAR(MAX),
				@ExceptionCol NVARCHAR(MAX),
				@temporalTableClause NVARCHAR(MAX),
				@OutputClauseCols NVARCHAR(MAX),
				@ExistsClauseForeignRelations NVARCHAR(MAX),
				@ColumnList NVARCHAR(MAX),
				@projectedCols NVARCHAR(MAX),
				@rowCountOut INTEGER,
				@whereClause NVARCHAR(MAX),
				@mappingTableName SYSNAME,
				@maxKVTID INT,
				@theapSchema SYSNAME = 'theap',
				@heapMappingFlag BIT = 0,
				@heapMappingTableName SYSNAME,
				@TableListId SYSNAME,
				@JoinMapClause NVARCHAR(MAX),
				@ProjectedSelect NVARCHAR(MAX),
				@AliasList NVARCHAR(MAX),
				@defaultCollate SYSNAME = 'Modern_Spanish_CI_AS',
				@oldPrefix sysname = N'old_',
				@newPrefix sysname = N'new_',
				@insertedPrefix SYSNAME = N'inserted',
				@sourceAlias NVARCHAR(25) = 'source',
				@targetAlias NVARCHAR(25) = 'target',
				@stagingSchema SYSNAME = 'staging',
				@mapTablePrefix SYSNAME = 'map_',
				@CaseListUpdateTTableList NVARCHAR(MAX),
				@AutoIncremCols BIT = 0,
				@TTableListSelectClause NVARCHAR(2000),
				@temporalTableName NVARCHAR(2000) = 'tmp_'+@targetTable,
				@temporalTableCols NVARCHAR(2000),
				@sourceTablePath NVARCHAR(2000),
				@insertTablePath NVARCHAR(2000),
				@FilterColumnList NVARCHAR(MAX),
				@CurrentCommand NVARCHAR(MAX);

		DECLARE @KVTTableList TABLE(
			kvt_id INTEGER IDENTITY(1,1) PRIMARY KEY NOT NULL,
			ColumnName  sysname,
			ColumnValue nvarchar(4000),
			LogicalOperator nvarchar(4000),
			joinWithPrev NVARCHAR(4000)
		)
		
		SET @insertTablePath = CONCAT(QUOTENAME(@targetDatabaseName), N'.', QUOTENAME(@schemaName), '.', QUOTENAME(@targetTable));
		SET @sourceTablePath = CONCAT(QUOTENAME(@sourceDatabaseName), N'.', QUOTENAME(@schemaName), '.', QUOTENAME(@sourceTable));

		IF @DatabaseCollate IS NULL
			BEGIN
				SET @DatabaseCollate =  @defaultCollate; 
			END;

		/*
		Obtener los nombre de las columnas Clave con el ID o dato Autoincremental de donde se tomará
		para insertar en las tablas principales
		*/
		BEGIN TRY

		IF EXISTS(SELECT 1
				FROM dbo.TTableList
				WHERE tableName = @targetTable
				  AND schemaName = @schemaName
				  AND NULLIF(LTRIM(RTRIM(lastIdAtOrigin)), '') IS NULL)
			BEGIN
				SET @CurKeys = (SELECT keyColumns FROM dbo.TTableList WHERE tableName = @targetTable AND schemaName = @schemaName);
				SET @CurValues = (SELECT lastIdAtOrigin FROM dbo.TTableList WHERE tableName = @targetTable AND schemaName = @schemaName);

				SET @Message = CONCAT(
					N'Invalid or empty lastIdAtOrigin in TTableList for table. ',
					N'You must provide comma-separated value(s) aligned with keyColumns. ',
					N'Current values -> keyColumns: ', COALESCE(@CurKeys,  N'<NULL>'),
					N'; lastIdAtOrigin: ', COALESCE(@CurValues, N'<NULL>'), N'.'
				);

				EXEC dbo.sp_ETLRunLog_Message
					@ErrorLevel         = 'Fatal Error',
					@sourceDatabaseName = @sourceDatabaseName,
					@targetDatabaseName = @targetDatabaseName,
					@schemaName			= @schemaName,
					@objectName			= @targetTable,
					@ProcessName        = @procedureName,
					@Message            = @Message;

				THROW 510060, @Message, 1;
			END;

		SELECT 
			@keys = keyColumns,
			@values = lastIdAtOrigin,
			@logicalOperator = logicalOperator,
			@joinWithPrev = joinWithPrev 
		FROM dbo.TTableList
			WHERE tableName = @targetTable 
			AND schemaName = @schemaName;

		;WITH Keys AS (
			SELECT 
				ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS rn,
				LTRIM(RTRIM(value)) AS ColumnName
			FROM STRING_SPLIT(@keys, ',')
		),
		Vals AS (
			SELECT 
				ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS rn,
				LTRIM(RTRIM(value)) AS ColumnValue
			FROM STRING_SPLIT(@values, ',')
		),
		oper AS (
			SELECT 
				ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS rn,
				LTRIM(RTRIM(value)) AS ColumnOperator
			FROM STRING_SPLIT(@logicalOperator, ',')
		),
		joinWithPrev AS (
			SELECT 
				ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS rn,
				LTRIM(RTRIM(value)) AS ColumnJoinPrev
			FROM STRING_SPLIT(@joinWithPrev, ',')
		)

		INSERT INTO @KVTTableList (ColumnName, ColumnValue, LogicalOperator, joinWithPrev)
		SELECT 
			k.ColumnName,
			v.ColumnValue,
			o.ColumnOperator,
			j.ColumnJoinPrev
		FROM Keys k
		LEFT JOIN Vals v ON k.rn = v.rn
		LEFT JOIN oper o ON o.rn = k.rn
		LEFT JOIN joinWithPrev j ON j.rn = k.rn;

		SET @rowCountOut = @@ROWCOUNT;

		SELECT @maxKVTID = MAX(kvt_id) FROM @KVTTableList;

		IF ((@rowCountOut > 1 AND (EXISTS (SELECT 1 FROM @KVTTableList WHERE ColumnName IS NULL OR ColumnValue IS NULL OR LogicalOperator IS NULL) 
			OR EXISTS (SELECT 1 FROM @KVTTableList WHERE kvt_id < @maxKVTID AND (joinWithPrev IS NULL OR LTRIM(RTRIM(joinWithPrev)) = '')) 
			OR EXISTS (SELECT 1 FROM @KVTTableList WHERE kvt_id = (SELECT MAX(kvt_id) FROM @KVTTableList) AND (joinWithPrev IS NOT NULL AND LTRIM(RTRIM(joinWithPrev)) <> ''))))
			OR (@rowCountOut = 1 AND ( EXISTS (SELECT 1 FROM @KVTTableList WHERE ColumnName IS NULL OR ColumnValue IS NULL OR LogicalOperator IS NULL ) 
			OR EXISTS (SELECT 1 FROM @KVTTableList WHERE joinWithPrev IS NULL AND LTRIM(RTRIM(joinWithPrev)) <> ''))))
			BEGIN

	SET @Message = CONCAT(
					N'Data alignment error detected while parsing TTableList, ',
					N'one or more key definitions are incomplete or misaligned. ',
					N'All lists (keyColumns, lastIdAtOrigin, logicalOperator, joinWithPrev) ',
					N'must have the same number of comma-separated elements and no NULL or empty values. ',
					N'Please verify the configuration in TTableList for this table. ',
					N'Current input -> ',
					N'keyColumns: ', COALESCE(@keys, N'<NULL>'), N'; ',
					N'lastIdAtOrigin: ', COALESCE(@values, N'<NULL>'), N'; ',
					N'logicalOperator: ', COALESCE(@logicalOperator, N'<NULL>'), N'; ',
					N'joinWithPrev: ', COALESCE(@joinWithPrev, N'<NULL>'), N'.'
				);

				EXEC dbo.sp_ETLRunLog_Message
					@ErrorLevel         = 'Fatal Error',
					@sourceDatabaseName = @sourceDatabaseName,
					@targetDatabaseName = @targetDatabaseName,
					@schemaName			= @schemaName,
					@objectName			= @targetTable,
					@ProcessName        = @procedureName,
					@Message            = @Message;

				THROW 510050, @Message, 1;
			END;

		EXEC dbo.GetKeyColumnDynamic 
			@database = @targetDatabaseName, 
			@tableName = @targetTable, 
			@schemaName = @schemaName,
			@primaryKeyColumns = @KeyColumn OUTPUT;

		/*Se excluyen las columnas autoIncrementales*/
		SELECT @ExceptionCol = STRING_AGG(ColumnName, ', ') FROM dbo.fn_GetAutoIncrementKeyColumn (@KeyColumn) WHERE isAutoIncremental = 1;

		/*Se construye la clausula ON para el Merge*/
		SELECT @onClause = dbo.fn_GetDynamicOnClause(@KeyColumn, @DatabaseCollate, @sourceAlias, @targetAlias);

		/*Se verifican las llaves que se tienen asignadas en TTableList*/

		IF OBJECT_ID('tempdb..#tempCols') IS NOT NULL
			DROP TABLE #tempCols;

		CREATE TABLE #tempCols
		(
			COLUMN_NAME sysname,
			DATA_TYPE sysname,
			ORDINAL_POSITION int,
			CHARACTER_MAXIMUM_LENGTH int NULL,
			NUMERIC_PRECISION tinyint NULL,
			NUMERIC_SCALE int NULL,
			DATETIME_PRECISION INT NULL
		);

		SET @SQL = N'
			INSERT INTO #tempCols
			SELECT
				COLUMN_NAME,
				DATA_TYPE,
				ORDINAL_POSITION,
				CHARACTER_MAXIMUM_LENGTH,
				NUMERIC_PRECISION,
				NUMERIC_SCALE,
				DATETIME_PRECISION
			FROM '+QUOTENAME(@sourceDatabaseName)+'.INFORMATION_SCHEMA.COLUMNS 
			WHERE TABLE_NAME = @tblNameParam
			AND TABLE_SCHEMA = @schemaParam;';

		EXEC sys.sp_executesql
			@SQL,
			N'@tblNameParam sysname, @schemaParam sysname',
			@tblNameParam = @sourceTable,
			@schemaParam  = @schemaName;

		  IF EXISTS (SELECT 1 FROM @KVTTableList WHERE LOWER(ColumnName) NOT IN (SELECT LOWER(COLUMN_NAME) FROM #tempCols))
			BEGIN
				SET @Message = CONCAT(
				N'One or more key columns specified',
				N' do not exist or are listed incorrectly in TTableList. ',
				N'The following column(s) were not found: ',
				(SELECT STRING_AGG(ColumnName, ', ') FROM @KVTTableList WHERE LOWER(ColumnName) NOT IN (SELECT LOWER(COLUMN_NAME) FROM #tempCols)), N'.');

				EXEC dbo.sp_ETLRunLog_Message
				@ErrorLevel         = 'Fatal Error',
				@sourceDatabaseName = @sourceDatabaseName,
				@targetDatabaseName = @targetDatabaseName,
				@schemaName			= @schemaName,
				@objectName			= @targetTable,
				@ProcessName        = @procedureName,
				@Message            = @Message;

				THROW 510070, @Message, 1;
			END;

		-- @KVTTableList debe tener: ColumnName, LogicalOperator, ColumnValue, joinWithPrev (AND/OR o vacío)
		-- #tempCols debe tener metadatos de INFORMATION_SCHEMA.COLUMNS (DATA_TYPE, CHARACTER_MAXIMUM_LENGTH, NUMERIC_PRECISION, NUMERIC_SCALE, DATETIME_PRECISION, COLUMN_NAME)
		;WITH K AS (
			SELECT kvt_id AS rn, ColumnName, ColumnValue, LogicalOperator, joinWithPrev
			FROM @KVTTableList AS kvt
		),
		K2 AS (
			SELECT  K.*, LAG(K.joinWithPrev) OVER (ORDER BY K.rn) AS PrevJoin
			FROM K
		)
		SELECT
		 @whereClause =
			N'WHERE ' + STRING_AGG(
			  CONCAT(
				CASE
				  WHEN K2.rn = 1 THEN ''
				  ELSE
					' ' + UPPER(LTRIM(RTRIM(COALESCE(K2.PrevJoin, '')))) + ' '
				END,
				QUOTENAME(K2.ColumnName), ' ', K2.LogicalOperator, ' ',
				'TRY_CONVERT(',
				   CASE 
					 WHEN tc.DATA_TYPE IN ('varchar','char','nvarchar','nchar')
					   THEN tc.DATA_TYPE + '(' +
							CASE WHEN tc.CHARACTER_MAXIMUM_LENGTH = -1 THEN 'MAX'
								 ELSE CAST(tc.CHARACTER_MAXIMUM_LENGTH AS varchar(10)) END + ')'
					 WHEN tc.DATA_TYPE IN ('decimal','numeric')
					   THEN tc.DATA_TYPE + '(' +
							CAST(tc.NUMERIC_PRECISION AS varchar(10)) + ',' +
							CAST(tc.NUMERIC_SCALE     AS varchar(10)) + ')'
					 WHEN tc.DATA_TYPE IN ('datetime2','datetimeoffset','time')
					   THEN tc.DATA_TYPE + '(' + COALESCE(CAST(tc.DATETIME_PRECISION AS varchar(10)),'7') + ')' ELSE tc.DATA_TYPE END,',',
				   CASE 
					 WHEN tc.DATA_TYPE IN ('nvarchar','nchar')
					   THEN N'N' + QUOTENAME(K2.ColumnValue, '''')  -- N'...'
					 WHEN tc.DATA_TYPE IN ('varchar','char','text','ntext')
					   THEN QUOTENAME(K2.ColumnValue, '''') ELSE K2.ColumnValue
				   END, ')'
			  ),' ' -- separador entre condiciones
			  ) WITHIN GROUP (ORDER BY rn ASC)
		FROM K2
		JOIN #tempCols AS tc
		  ON LTRIM(RTRIM(K2.ColumnName)) = LTRIM(RTRIM(tc.COLUMN_NAME));

		/*Crear tabla de mapeo*/
		SELECT @mappingTableName = dbo.fn_GetMappingTableName(@targetTable, NULL, NULL);

		IF @mappingTableName IS NULL
			BEGIN
				EXEC dbo.sp_ETLCreateMappingTable 
					@databaseName = @targetDatabaseName,
					@schemaName = @schemaName,
					@tableName = @targetTable;

				SELECT @mappingTableName = dbo.fn_GetMappingTableName(@targetTable, NULL, NULL);
			END;

				IF EXISTS(SELECT 1 FROM dbo.foreignKeyMetadata)
			BEGIN
				TRUNCATE TABLE foreignKeyMetadata
			END;

		SET @SQL = N'SELECT @ColumnListOUT = STRING_AGG(COLUMN_NAME, '', '') 
					FROM ' + QUOTENAME(@sourceDatabaseName) + '.INFORMATION_SCHEMA.COLUMNS 
					WHERE TABLE_NAME = @tblNameParam
					AND TABLE_SCHEMA = @schemaParam
					AND (@Key IS NULL OR COLUMN_NAME NOT IN (SELECT RTRIM(LTRIM(value)) FROM STRING_SPLIT(@Key, '','')))';

		EXEC sp_executesql
				@SQL,
				N'@tblNameParam NVARCHAR(128), @schemaParam NVARCHAR(128), @Key NVARCHAR(MAX), @ColumnListOUT NVARCHAR(MAX) OUTPUT',
				@tblNameParam = @sourceTable,
				@schemaParam = @schemaName,
				@Key = @ExceptionCol,
				@ColumnListOUT = @ColumnList OUTPUT;

		/*Proyectar todas las columnas para construir el uso de los IDS del mapeo*/
		SET @SQL = N'SELECT @ColumnListOUT = STRING_AGG(COLUMN_NAME, '', '') 
					FROM ' + QUOTENAME(@sourceDatabaseName) + '.INFORMATION_SCHEMA.COLUMNS 
					WHERE TABLE_NAME = @tblNameParam
					AND TABLE_SCHEMA = @schemaParam';

		EXEC sp_executesql
				@SQL,
				N'@tblNameParam NVARCHAR(128), @schemaParam NVARCHAR(128), @ColumnListOUT NVARCHAR(MAX) OUTPUT',
				@tblNameParam = @sourceTable,
				@schemaParam = @schemaName,
				@ColumnListOUT = @projectedCols OUTPUT;

		IF EXISTS(SELECT 1 FROM dbo.fn_GetAutoIncrementKeyColumn (@KeyColumn) WHERE isAutoIncremental = 1)
			BEGIN
				SET @AutoIncremCols = 1;

				SELECT @temporalTableClause = dbo.fn_BuildMappingTemporaryTableDDL(@temporalTableName, @KeyColumn, @oldPrefix, @newPrefix);

				;WITH f AS(SELECT ColumnName, 'o' p
				FROM fn_GetAutoIncrementKeyColumn (@KeyColumn)
				WHERE isAutoIncremental = 1
				UNION ALL
				SELECT ColumnName, 'n' p
				FROM fn_GetAutoIncrementKeyColumn (@KeyColumn) 
				WHERE isAutoIncremental = 1)
				SELECT @temporalTableCols = STRING_AGG(CONCAT((CASE WHEN p = 'o' THEN @oldPrefix ELSE @newPrefix END), ColumnName), ', ')
				FROM f;

				/*Listar PKs para OUTPUT Clause*/
				;WITH f AS(SELECT ColumnName, 's' p
				FROM fn_GetAutoIncrementKeyColumn (@KeyColumn) 
				WHERE isAutoIncremental = 1
				UNION ALL
				SELECT ColumnName, 'i' p
				FROM fn_GetAutoIncrementKeyColumn (@KeyColumn) 
				WHERE isAutoIncremental = 1)
				SELECT @OutputClauseCols = STRING_AGG(CONCAT((CASE WHEN p = 'i' THEN @insertedPrefix ELSE @sourceAlias END),'.',ColumnName), ', ')
				FROM f;

				
				SELECT @TTableListSelectClause = STRING_AGG(CONCAT(N'MAX', N'(', @oldPrefix, ColumnName, N')'), N', ')
				FROM fn_GetAutoIncrementKeyColumn (@KeyColumn)
				WHERE isAutoIncremental = 1;

				SELECT
				  @TTableListSelectClause =
					STRING_AGG(
					  N'MAX(' + QUOTENAME(@oldPrefix + ColumnName) + N') AS ' + QUOTENAME(N'Max_' + ColumnName),
					  N', '
					),
				  @AliasList =
					STRING_AGG(
					  QUOTENAME(N'Max_' + ColumnName),
					  N', '
					)
				FROM dbo.fn_GetAutoIncrementKeyColumn (@KeyColumn)
				WHERE ColumnName IN (
					SELECT TRIM(value)
					FROM dbo.TTableList
					CROSS APPLY STRING_SPLIT(keyColumns, ',')
					WHERE tableName = @targetTable
				)
				AND isAutoIncremental = 1;
			END;
			
			/*
			Se añade un parche para mapear 
			tablas que tengan relacion directa
			con una tabla HEAP dentro del esquema
				
			Verifica si existe en la tabla Auxiliar de relaciones HEAP [dbo].[TTHeapRelated]
			Si esta ahi, se verifica si existe una tabla de mapeo creado para el esquema [theap]*/
			IF (SELECT dbo.fn_getHeapMappingTables(@schemaName, @targetTable)) = 1
				BEGIN
					SET @heapMappingFlag = 1

					SELECT @heapMappingTableName = dbo.fn_GetMappingTableName(@targetTable, NULL, @theapSchema);

					IF @heapMappingTableName IS NULL
						BEGIN
							EXEC dbo.sp_ETLCreateMappingTable 
								@databaseName = @targetDatabaseName,
								@schemaName = @schemaName,
								@tableName = @targetTable,
								@mapSchema = @theapSchema; -- Se usan los valores por defecto del procedimiento para mapear el resto

							SELECT @heapMappingTableName = dbo.fn_GetMappingTableName(@targetTable, NULL, @theapSchema);
						END;
				END;

			/*Mapeo dinamico de las consultas para obtener el ID Dinamico*/
			EXEC dbo.sp_ETL_LoadForeignKeyMetadata
					@targetDatabaseName = @targetDatabaseName,
					@stagingSchema = @stagingSchema,
					@schemaName = @schemaName,
					@targetTable = @targetTable,
					@oldPrefix = @oldPrefix,
					@newPrefix = @newPrefix,
					@mapTablePrefix = @mapTablePrefix;

				SELECT @JoinMapClause =
					STRING_AGG(
						N'LEFT JOIN '+fm.MapTable+N' AS '+fm.MapAlias+
						N' ON '+fm.MapAlias+'.'+QUOTENAME(fm.MapOldCol)+N' = '+@sourceAlias+N'.'+QUOTENAME(fm.FKColumnName)
					, CHAR(13)+CHAR(10))
				FROM dbo.foreignKeyMetadata AS fm

				/*Clausula que para tablas que tienen la restriccion de relacion con otras tablas
				Antes de insertar datos, comprueben que el ID existe, para guardar consistencia en los 
				datos que se insertan*/

				SELECT @ExistsClauseForeignRelations =
					STRING_AGG(
						N' AND EXISTS (' +
						N'  SELECT 1' + CHAR(13)+CHAR(10) +
						N'  FROM ' + QUOTENAME(@targetDatabaseName)+N'.'+QUOTENAME(fm.RefSchema) + N'.' + QUOTENAME(RefTable) + N' AS p' + CHAR(13)+CHAR(10) +
						N'  WHERE p.' + QUOTENAME(fm.RefPKColumn) + N' = '+@sourceAlias+N'.'+QUOTENAME(fm.FKColumnName)+N')'
					, CHAR(13)+CHAR(10))
				FROM dbo.foreignKeyMetadata AS fm;

				SET @SQL = N'
				;WITH tgtcols AS (
					SELECT c.name, c.column_id
					FROM ' + QUOTENAME(@targetDatabaseName) + N'.sys.columns AS c
					JOIN ' + QUOTENAME(@targetDatabaseName) + N'.sys.tables  AS t ON t.object_id = c.object_id
					JOIN ' + QUOTENAME(@targetDatabaseName) + N'.sys.schemas AS s ON s.schema_id = t.schema_id
					WHERE s.name = @p_schemaName
					  AND t.name = @p_targetTable
					  AND c.name IN (SELECT TRIM([value]) FROM STRING_SPLIT(@p_ColumnList, '',''))
				)
				SELECT @p_ProjectedSelectOut =
					STRING_AGG(
						CASE
							WHEN fm.FKColumnName IS NOT NULL THEN
								''COALESCE('' + fm.MapAlias + ''.'' + QUOTENAME(fm.MapNewCol) + '', source.'' + QUOTENAME(tc.name) + '') AS '' + QUOTENAME(tc.name)
							ELSE
								''source.'' + QUOTENAME(tc.name)
						END,
						N'', ''
					) WITHIN GROUP (ORDER BY tc.column_id)
				FROM tgtcols AS tc
				LEFT JOIN ForeignKeyMetadata AS fm
					ON fm.FKColumnName = tc.name;';

				EXEC sys.sp_executesql
					@SQL,
					N'@p_schemaName sysname, @p_targetTable sysname, @p_ColumnList nvarchar(max), @p_ProjectedSelectOut nvarchar(max) OUTPUT',
					@p_schemaName = @schemaName,
					@p_targetTable = @targetTable,
					@p_ColumnList = @projectedCols,
					@p_ProjectedSelectOut = @ProjectedSelect OUTPUT;

		SELECT @TableListId = tableListID FROM TTableList WHERE tableName = @targetTable;

		-- Pre-calculamos la lista de columnas para el filtro una sola vez
		-- para no repetir esta subconsulta dentro del bucle del cursor.
		SELECT @FilterColumnList = STRING_AGG(@newPrefix + ColumnName, ', ')
		FROM fn_GetAutoIncrementKeyColumn (@KeyColumn) 
		WHERE isAutoIncremental = 1;

		SET @SQLSpecialCases = N'';

		DECLARE cur_SpecialCases CURSOR LOCAL FAST_FORWARD FOR
		SELECT Command 
		FROM [dbo].[TTSpecialCases] 
		WHERE TableListId = @TableListId;

		OPEN cur_SpecialCases;

		FETCH NEXT FROM cur_SpecialCases INTO @CurrentCommand;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			SET @CurrentCommand = REPLACE(@CurrentCommand, '{{Database}}', @targetDatabaseName);
			SET @CurrentCommand = REPLACE(
				@CurrentCommand, 
				'{{Filter}}', 
				'SELECT ' + ISNULL(@FilterColumnList, '*') + ' FROM #' + @temporalTableName
			);
			SET @SQLSpecialCases = @SQLSpecialCases + CHAR(13) + CHAR(10) + @CurrentCommand + ';';
			FETCH NEXT FROM cur_SpecialCases INTO @CurrentCommand;
		END;
		CLOSE cur_SpecialCases;
		DEALLOCATE cur_SpecialCases;
		/*
		-----11-08-2025----
		Se añade una mejora para un caso en concreto. Cuando se tienen tablas que no tiene autoincrementales y están dentro de TTableList.
		Las columnas se usan como filtros y debes actualizar columnas especificas y controlar como se generan. Es necesario manejar esto distinto.
		-----
		*/
		IF @AutoIncremCols = 0
			BEGIN

				DECLARE @SQLUpdateTTableList NVARCHAR(MAX);

				SELECT
				  @TTableListSelectClause =
					STRING_AGG(
					  N'MAX(' + QUOTENAME(ColumnName) + N') AS ' + QUOTENAME(ColumnName),
					  N', '
					),
				@AliasList =
					STRING_AGG(
					  QUOTENAME(ColumnName),
					  N', '
					)
				FROM dbo.fn_GetAutoIncrementKeyColumn (@KeyColumn)
				WHERE ColumnName IN (
					SELECT TRIM(value)
					FROM dbo.TTableList
					CROSS APPLY STRING_SPLIT(keyColumns, ',')
					WHERE tableName = @targetTable)

				SET @SQLUpdateTTableList = N'WITH source AS (
					SELECT * FROM '+@sourceTablePath + CHAR(13)+CHAR(10) + @whereClause+')'+
					',
					MaxKeys AS (
					SELECT '+@TTableListSelectClause+' FROM source
					),
					unpivotedMaxKey AS (
					SELECT 
						u.col,
						u.v
					FROM MaxKeys AS S
					UNPIVOT(v FOR col IN ('+@AliasList+')) AS u),
					Lao AS (
					SELECT 
						l.tableListID,
						lao.[key]  AS ord,
						lao.value  AS oldValue
					FROM TTableList AS l
					CROSS APPLY OPENJSON(''["'' + REPLACE(l.lastIdAtOrigin, '','', ''","'') + ''"]'') AS lao
					WHERE l.tableName = '''+@targetTable+'''
					),
					Kc AS (
					SELECT 
						l.tableListID,
						l.tableName,
						kc.[key]   AS ord,
						kc.value   AS keyColumn
					FROM TTableList AS l
					CROSS APPLY OPENJSON(''["'' + REPLACE(l.keyColumns, '','', ''","'') + ''"]'') AS kc
					WHERE l.tableName = '''+@targetTable+'''),
					crossedTables AS (
						SELECT 
							kc.tableListID,
							Kc.tableName,
							kc.ord,
							kc.keyColumn,
							CASE 
								-- Si la columna está marcada para actualizar...
								WHEN (EXISTS (
									SELECT 1 FROM TTableList tl
									CROSS APPLY OPENJSON(''["'' + REPLACE(tl.keyColumnsToUpdate, '','', ''","'') + ''"]'') kcu
									WHERE LTRIM(RTRIM(kcu.value)) = LTRIM(RTRIM(kc.keyColumn)) -- Agregamos TRIM por seguridad
								))
								-- Intentamos tomar el valor nuevo, pero si viene NULL (origen vacío), usamos oldValue
								THEN ISNULL(
									(SELECT CAST(v AS NVARCHAR(MAX)) FROM unpivotedMaxKey WHERE col = kc.keyColumn), 
									oldValue
								)
								ELSE oldValue
							END AS newValue
						FROM Kc
						JOIN Lao 
							ON Lao.tableListID = Kc.tableListID 
						   AND Lao.ord = Kc.ord
					),
					Agg AS (
							SELECT
								d.tableListID,
								STRING_AGG(LTRIM(RTRIM(d.newValue)), '', '') WITHIN GROUP (ORDER BY d.ord) AS NewLastIdAtOrigin
							FROM crossedTables d 
							GROUP BY d.tableListID)

						UPDATE l
							SET lastIdAtOrigin = a.NewLastIdAtOrigin
						FROM TTableList as l
							JOIN Agg AS a ON a.tableListID = l.tableListID;'
			END;

		/*Armar insert Dinámico*/
		SET @SQL = (CASE WHEN @AutoIncremCols = 1 THEN @temporalTableClause ELSE '' END)+N'
			;WITH src AS (
				SELECT * FROM '+@sourceTablePath+CHAR(13)+CHAR(10)+@whereClause+')
			MERGE INTO '+@insertTablePath+N' AS '+@targetAlias+'
			USING (
				SELECT '+@ProjectedSelect+'
				FROM src AS '+@sourceAlias+CHAR(13)+CHAR(10)+ISNULL(@JoinMapClause,N'')+'
			) AS source '+
			(CASE WHEN @AutoIncremCols = 1 THEN N' ON 1=0' ELSE @onClause END)+'
			WHEN NOT MATCHED BY TARGET '+ISNULL(@ExistsClauseForeignRelations, '')+N' THEN'+'
				INSERT ('+@ColumnList+')
				VALUES ('+(SELECT STRING_AGG(CONCAT(@sourceAlias, N'.',RTRIM(LTRIM(value))), ', ') FROM STRING_SPLIT(@ColumnList, N',')) + N') '+
			(CASE WHEN @AutoIncremCols = 1 THEN N'
			OUTPUT $action, '+@OutputClauseCols+'
			INTO #'+@temporalTableName+N';
			SELECT @rc_out = COUNT(*) FROM #'+@temporalTableName+N';
			INSERT INTO '+@mappingTableName+N'
				SELECT '+@temporalTableCols+' FROM #'+@temporalTableName+N';
			'+(CASE WHEN @heapMappingFlag = 1 THEN
				'INSERT INTO '+@heapMappingTableName
				+' SELECT '+@temporalTableCols+
				' FROM #'+@temporalTableName+';' ELSE '' END)+'
			UPDATE t
			  SET LastIdAtOrigin = ISNULL(c.lito, t.LastIdAtOrigin)
			  FROM dbo.TTableList AS t
			CROSS APPLY (
				SELECT lito =
				  (
					SELECT STRING_AGG(CONVERT(nvarchar(512), u.v), N'', '')
					FROM (
							SELECT ' + @TTableListSelectClause + N'
							FROM #' + @temporalTableName + N'
						) AS s
						UNPIVOT (v FOR col IN (' + @AliasList + N')) AS u
					)
				WHERE t.tableName = '''+@targetTable+'''
			) AS c; '+
			ISNULL(@SQLSpecialCases, '')+' DROP TABLE #'+@temporalTableName
			ELSE +';'+@SQLUpdateTTableList+'
			SELECT @rc_out = @@ROWCOUNT;'
			END);

			SET @SQLCommand = @SQL;

		/*
		PUNTOS PENDIENTES:
			1.	Actualizar dato en TTableList. (LISTO)
			2.	Que se usen las tablas de mapeo cuando sea necesario. (LISTO)
			3.	Hacer que este proceso Busque SIEMPRE si hay algo que necesita ser ejecutado en TTSpecialCases (LISTO)
			4.	Hacer que actualice los IDs de tablas sin autoincrementales pero si con PKs (LISTO)
		*/

		END TRY
		BEGIN CATCH
			SET @Message = CONCAT(N'Error in procedure ', ISNULL(ERROR_MESSAGE(), @procedureName), N' at line ', ERROR_LINE(), N': ', ERROR_PROCEDURE());

			EXEC [dbo].[sp_ETLRunLog_Message]
					@ErrorLevel         = 'Error',
					@sourceDatabaseName = NULL,
					@targetDatabaseName = @targetDatabaseName,
					@schemaName			= @schemaName,
					@objectName			= @targetTable,
					@ProcessName        = @procedureName,
					@Message            = @Message;

			THROW;
		END CATCH
	END;

