
CREATE     PROCEDURE [dbo].[sp_ETLCleanStagingTables]
    @SchemaName SYSNAME = N'staging'  
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @procedureName SYSNAME = OBJECT_NAME(@@PROCID),
        @sourceDatabaseName SYSNAME = DB_NAME(),
        @targetDatabaseName SYSNAME = DB_NAME(),
        @LogMessage NVARCHAR(MAX),
        @SQL NVARCHAR(MAX),
        @QualifiedTable NVARCHAR(512);

    -- Cursor para recorrer todas las tablas del esquema indicado
    DECLARE cur CURSOR FAST_FORWARD FOR
        SELECT QUOTENAME(s.name) + N'.' + QUOTENAME(t.name)
        FROM sys.tables t
        INNER JOIN sys.schemas s ON s.schema_id = t.schema_id
        WHERE s.name = @SchemaName;

    BEGIN TRY
        -- Mensaje de inicio
        SET @LogMessage = CONCAT(
            N'Starting cleanup of staging tables in schema ',
            QUOTENAME(@SchemaName), N'.'
        );

        EXEC dbo.sp_ETLRunLog_Message
            @status = 1,
            @ErrorLevel = 'Info',
            @sourceDatabaseName = @sourceDatabaseName,
            @targetDatabaseName = @targetDatabaseName,
            @SchemaName = @SchemaName,
            @ObjectName = N'*',
            @ProcessName = @procedureName,
            @Message = @LogMessage;

        OPEN cur;
        FETCH NEXT FROM cur INTO @QualifiedTable;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            BEGIN TRY
                SET @SQL = N'TRUNCATE TABLE ' + @QualifiedTable + N';';
                EXEC sys.sp_executesql @SQL;

                SET @LogMessage = CONCAT(N'Truncated table ', @QualifiedTable, N'.');
                EXEC dbo.sp_ETLRunLog_Message
                    @status = 1,
                    @ErrorLevel = 'Info',
                    @sourceDatabaseName = @sourceDatabaseName,
                    @targetDatabaseName = @targetDatabaseName,
                    @SchemaName = @SchemaName,
                    @ObjectName = @QualifiedTable,
                    @ProcessName = @procedureName,
                    @CommandDetail = @SQL,
                    @Message = @LogMessage;
            END TRY
            BEGIN CATCH
                SET @LogMessage = CONCAT(
                    N'Failed to TRUNCATE ', @QualifiedTable, N'. Error: ',
                    ERROR_MESSAGE(), N' (', ERROR_NUMBER(), N')'
                );

                EXEC dbo.sp_ETLRunLog_Message
                    @status = 0,
                    @ErrorLevel = 'Warn',
                    @sourceDatabaseName = @sourceDatabaseName,
                    @targetDatabaseName = @targetDatabaseName,
                    @SchemaName = @SchemaName,
                    @ObjectName = @QualifiedTable,
                    @ProcessName = @procedureName,
                    @CommandDetail = @SQL,
                    @Message = @LogMessage;

                BEGIN TRY
                    SET @SQL = N'DELETE FROM ' + @QualifiedTable + N';';
                    EXEC sys.sp_executesql @SQL;

                    SET @LogMessage = CONCAT(N'DELETE used as fallback on ', @QualifiedTable, N'.');
                    EXEC dbo.sp_ETLRunLog_Message
                        @status = 1,
                        @ErrorLevel = 'Info',
                        @sourceDatabaseName = @sourceDatabaseName,
                        @targetDatabaseName = @targetDatabaseName,
                        @SchemaName = @SchemaName,
                        @ObjectName = @QualifiedTable,
                        @ProcessName = @procedureName,
                        @CommandDetail = @SQL,
                        @Message = @LogMessage;
                END TRY
                BEGIN CATCH
                    -- Si también falla el DELETE, lanzar error y cortar proceso
                    SET @LogMessage = CONCAT(
                        N'Failed to DELETE from ', @QualifiedTable, N'. Error: ',
                        ERROR_MESSAGE(), N' (', ERROR_NUMBER(), N')'
                    );

                    EXEC dbo.sp_ETLRunLog_Message
                        @status = 0,
                        @ErrorLevel = 'Error',
                        @sourceDatabaseName = @sourceDatabaseName,
                        @targetDatabaseName = @targetDatabaseName,
                        @SchemaName = @SchemaName,
                        @ObjectName = @QualifiedTable,
                        @ProcessName = @procedureName,
                        @CommandDetail = @SQL,
                        @Message = @LogMessage;

                    CLOSE cur; DEALLOCATE cur;
                    THROW 51200, @LogMessage, 1;
                END CATCH
            END CATCH;

            FETCH NEXT FROM cur INTO @QualifiedTable;
        END

        CLOSE cur; DEALLOCATE cur;

        -- Mensaje de fin
        SET @LogMessage = CONCAT(
            N'Finished cleanup of staging tables in schema ',
            QUOTENAME(@SchemaName), N'.'
        );

        EXEC dbo.sp_ETLRunLog_Message
            @status = 1,
            @ErrorLevel = 'Info',
            @sourceDatabaseName = @sourceDatabaseName,
            @targetDatabaseName = @targetDatabaseName,
            @SchemaName = @SchemaName,
            @ObjectName = N'*',
            @ProcessName = @procedureName,
            @Message = @LogMessage;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'cur') >= -1
        BEGIN
            CLOSE cur; DEALLOCATE cur;
        END

        SET @LogMessage = CONCAT(
            N'Unexpected error in ', @procedureName, N'. ',
            N'Error: ', ERROR_MESSAGE(), N' (', ERROR_NUMBER(), N') at line ', ERROR_LINE(), N'.'
        );

        EXEC dbo.sp_ETLRunLog_Message
            @status = 0,
            @ErrorLevel = 'Error',
            @sourceDatabaseName = @sourceDatabaseName,
            @targetDatabaseName = @targetDatabaseName,
            @SchemaName = @SchemaName,
            @ObjectName = N'*',
            @ProcessName = @procedureName,
            @Message = @LogMessage;

        THROW;
    END CATCH
END

