


CREATE     PROCEDURE [dbo].[sp_ETLCleanTableListHistory]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @procedureName SYSNAME = OBJECT_NAME(@@PROCID),
        @sourceDatabaseName SYSNAME = DB_NAME(),
        @targetDatabaseName SYSNAME = DB_NAME(),
        @LogMessage NVARCHAR(MAX),
        @RetentionDate DATETIME = DATEADD(DAY, -30, GETDATE()), -- The 30-day cutoff
        @currentDatabase SYSNAME = DB_NAME();
    BEGIN TRY

        EXEC dbo.sp_ETLRunLog_Start @sourceDatabaseName = @currentDatabase
        -- 1. Initial Logging
        SET @LogMessage = CONCAT(N'Starting 30-day retention cleanup for TTableList_Hist. Cutoff date: ', CONVERT(NVARCHAR, @RetentionDate, 120));
        
        EXEC dbo.sp_ETLRunLog_Message
            @status = 1, 
            @ErrorLevel = 'Info',
            @sourceDatabaseName = @sourceDatabaseName,
            @targetDatabaseName = @targetDatabaseName,
            @ObjectName = N'TTableList_Hist',
            @ProcessName = @procedureName,
            @Message = @LogMessage;

        -- 2. Execute the Delete
        DELETE FROM [dbo].[TTableList_Hist]
        WHERE [changedAt] < @RetentionDate;

        -- 3. Success Logging
        SET @LogMessage = CONCAT(N'Cleanup successful. Records removed: ', @@ROWCOUNT);
        
        EXEC dbo.sp_ETLRunLog_Message
            @status = 1, 
            @ErrorLevel = 'Info',
            @sourceDatabaseName = @sourceDatabaseName,
            @targetDatabaseName = @targetDatabaseName,
            @ObjectName = N'TTableList_Hist',
            @ProcessName = @procedureName,
            @Message = @LogMessage;

    END TRY
    BEGIN CATCH
        -- 4. Error Logging
        SET @LogMessage = CONCAT(N'Error cleaning TTableList_Hist: ', ERROR_MESSAGE());
        
        EXEC dbo.sp_ETLRunLog_Message
            @status = 0, 
            @ErrorLevel = 'Error',
            @sourceDatabaseName = @sourceDatabaseName,
            @targetDatabaseName = @targetDatabaseName,
            @ObjectName = N'TTableList_Hist',
            @ProcessName = @procedureName,
            @Message = @LogMessage;

        -- Raise the error back to the SQL Job agent
        THROW;
    END CATCH
END

