

CREATE     PROCEDURE [dbo].[sp_GenerateHeapMerge](
	@sourceDatabaseName SYSNAME,
	@targetDatabaseName SYSNAME,
	@DatabaseCollate VARCHAR(150),
	@schemaName SYSNAME,
	@sourceTable VARCHAR(512),
	@targetTable VARCHAR(512),
	@SQLCommand NVARCHAR(MAX) OUTPUT)
AS
	BEGIN
		SET NOCOUNT ON;

		DECLARE @procedureName SYSNAME = OBJECT_NAME(@@PROCID),
				@defaultCollate SYSNAME = 'Modern_Spanish_CI_AS',
				@theapSchema SYSNAME = 'theap',
				@oldColsPrefix NVARCHAR(15) = 'old_',
				@newColsPrefix NVARCHAR(15) = 'new_',
				@sourceAlias NVARCHAR(25) = 'source',
				@targetAlias NVARCHAR(25) = 'target',
				@message NVARCHAR(MAX),
				@insertTablePath NVARCHAR(1000),
				@sourceTablePath NVARCHAR(1000),
				@JoinMapClause NVARCHAR(MAX),
				@SQL NVARCHAR(MAX),
				@whereClause NVARCHAR(MAX),
				@ProjectedSelect NVARCHAR(MAX),
				@InsertColumns NVARCHAR(MAX),
				@InsertValues NVARCHAR(MAX),
				@rowCountOut INTEGER

		BEGIN TRY
			IF  @DatabaseCollate IS NULL
			BEGIN
				SET @DatabaseCollate = @defaultCollate;
			END;

			SET @insertTablePath = CONCAT(QUOTENAME(@targetDatabaseName), N'.', QUOTENAME(@schemaName), '.', QUOTENAME(@targetTable));
			SET @sourceTablePath = CONCAT(QUOTENAME(@sourceDatabaseName), N'.', QUOTENAME(@schemaName), '.', QUOTENAME(@sourceTable));

		/*
		Extraer las tablas relacionadas para actualizar las tablas
		HEAP de la base de datos
		*/
		
		IF OBJECT_ID('tempdb..#HeapForeignMappingCols') IS NOT NULL
			BEGIN
				DROP TABLE #HeapForeignMappingCols
			END;

		CREATE TABLE #HeapForeignMappingCols(
			SchemaName SYSNAME,
			tableName SYSNAME,
			sourceCols SYSNAME,
			targetCols SYSNAME,
			mappingTableName VARCHAR(200),
			mapOldCol SYSNAME NULL,
			mapNewCol SYSNAME NULL,
			tableAlias VARCHAR(200)
		);

		IF (SELECT ISJSON(RelatedTables) FROM TTHeapTablesProcess WHERE tableName = @targetTable) = 0
		BEGIN
			SET @Message = CONCAT(
				N'Invalid or empty JSON in column RelatedTables for table ',
				@targetTable,
				N' in TTHeapTablesProcess. ',
				N'You must provide a well-formed JSON value.'
			);

			EXEC dbo.sp_ETLRunLog_Message
				@ErrorLevel          = 'Fatal Error',
				@sourceDatabaseName  = @sourceDatabaseName,
				@targetDatabaseName  = @targetDatabaseName,
				@schemaName          = @schemaName,
				@objectName          = @targetTable,
				@ProcessName         = @procedureName,
				@Message             = @Message;

			THROW 510060, @Message, 1;
		END;


		;WITH BaseMapping AS (
			SELECT
				tbl.[schema]                     AS SchemaName,
				tbl.[table]                      AS TableName,
				col.sourceColumn                 AS sourceCols,
				col.targetColumn                 AS targetCols,
				dbo.fn_GetMappingTableName(tbl.[table], NULL, @theapSchema) AS mappingTableName,
				'm_' + tbl.[table]+ CHAR(65 + ABS(CHECKSUM(NEWID())) % 26)+CHAR(65 + ABS(CHECKSUM(NEWID())) % 26) AS tableAlias
					FROM TTHeapTablesProcess ttp
					CROSS APPLY OPENJSON(ttp.RelatedTables, '$.relatedTables')
						WITH (
							[schema]  NVARCHAR(128) '$.schema',
							[table]   NVARCHAR(128) '$.table',
							[columns] NVARCHAR(MAX) '$.columns' AS JSON
						) AS tbl
					CROSS APPLY OPENJSON(tbl.[columns])
						WITH (
							sourceColumn NVARCHAR(128) '$.sourceColumn',
							targetColumn NVARCHAR(128) '$.targetColumn'
						) AS col
					WHERE ttp.tableName = @targetTable
				),
				HeapForeignMappingCols AS (
					SELECT
						SchemaName,
						TableName,
						sourceCols,
						targetCols,
						mappingTableName,
						CASE 
							WHEN mappingTableName IS NOT NULL 
								THEN CONCAT(@oldColsPrefix, targetCols)
							ELSE NULL
						END AS mapOldCol,
						CASE 
							WHEN mappingTableName IS NOT NULL 
								THEN CONCAT(@newColsPrefix, targetCols)
							ELSE NULL
						END AS mapNewCol,
						tableAlias
					FROM BaseMapping
				)
				INSERT INTO #HeapForeignMappingCols
				SELECT *
				FROM HeapForeignMappingCols;

				IF NOT EXISTS (SELECT 1 FROM #HeapForeignMappingCols WHERE mappingTableName IS NOT NULL)
				BEGIN
					SET @Message = CONCAT(
						N'No mapping table is listed or found for ', QUOTENAME(@targetTable), N'. ',
						N'The process will stop executing because this may lead to data issues related to the IDs.'
					);

					EXEC dbo.sp_ETLRunLog_Message
						  @ErrorLevel = 'Fatal Error',
						  @sourceDatabaseName = @sourceDatabaseName,
						  @targetDatabaseName = @targetDatabaseName,
						  @schemaName = @schemaName,
						  @objectName = @targetTable,
						  @ProcessName = @procedureName,
						  @Message = @Message;

					THROW 540070, @Message, 1;

				END;

				SELECT @JoinMapClause = STRING_AGG(N'LEFT JOIN '+COALESCE(emt.mappingTableName, CONCAT(@targetDatabaseName, N'.', @SchemaName, N'.',emt.TableName))+N' AS '+
					emt.tableAlias+N' ON '+emt.tableAlias+N'.'+QUOTENAME(COALESCE(emt.MapOldCol, emt.targetCols))+N' = '+@sourceAlias+N'.'+QUOTENAME(emt.sourceCols), CHAR(13)+CHAR(10)) FROM #HeapForeignMappingCols AS emt

				SELECT @whereClause = N'WHERE '+STRING_AGG(
					CONCAT(N'EXISTS ( SELECT 1 FROM ', (CASE WHEN mappingTableName IS NOT NULL THEN mappingTableName ELSE @targetDatabaseName+N'.'+SchemaName+N'.'+tableName END),
					N' AS p WHERE p.', (CASE WHEN mappingTableName IS NOT NULL THEN mapOldCol ELSE targetCols END), N' = ', QUOTENAME(sourceCols), N')'
						)
					, ' AND ')
				FROM #HeapForeignMappingCols

				SET @SQL = N'
					;WITH tgtcols AS (
						SELECT c.name, c.column_id
						FROM ' + QUOTENAME(@targetDatabaseName) + N'.sys.columns AS c
						JOIN ' + QUOTENAME(@targetDatabaseName) + N'.sys.tables  AS t ON t.object_id = c.object_id
						JOIN ' + QUOTENAME(@targetDatabaseName) + N'.sys.schemas AS s ON s.schema_id = t.schema_id
						WHERE s.name = @p_schemaName
						  AND t.name = @p_targetTable
					)
					SELECT @p_ProjectedSelectOut =
						STRING_AGG(
							CASE 
								WHEN hfmc.mappingTableName IS NOT NULL THEN
									''COALESCE('' 
										+ hfmc.tableAlias + ''.'' + QUOTENAME(hfmc.mapNewCol)
										+ '', source.'' + QUOTENAME(tc.name)
										+ '') AS '' + QUOTENAME(tc.name)
								ELSE
									''source.'' + QUOTENAME(tc.name)
							END,
							N'', ''
						) WITHIN GROUP (ORDER BY tc.column_id)
					FROM tgtcols AS tc
					LEFT JOIN #HeapForeignMappingCols AS hfmc 
						ON hfmc.targetCols = tc.name;';

					EXEC sys.sp_executesql
						@SQL,
						N'@p_schemaName sysname, @p_targetTable sysname, @p_ProjectedSelectOut nvarchar(max) OUTPUT',
						@p_schemaName        = @schemaName,
						@p_targetTable       = @targetTable,
						@p_ProjectedSelectOut = @ProjectedSelect OUTPUT;

			SET @SQL = N'SELECT @ColumnListOUT = STRING_AGG(COLUMN_NAME, '', '') 
					FROM ' + QUOTENAME(@sourceDatabaseName) + '.INFORMATION_SCHEMA.COLUMNS 
					WHERE TABLE_NAME = @tblNameParam
					AND TABLE_SCHEMA = @schemaParam';

			EXEC sp_executesql
					@SQL,
					N'@tblNameParam NVARCHAR(128), @schemaParam NVARCHAR(128), @ColumnListOUT NVARCHAR(MAX) OUTPUT',
					@tblNameParam = @sourceTable,
					@schemaParam = @schemaName,
					@ColumnListOUT = @InsertColumns OUTPUT;

			SET @SQL = N';WITH src AS (
			SELECT * 
			FROM ' + ISNULL(@sourceTablePath,'') + ' ' + ISNULL(@whereClause,'') + N') 
			MERGE INTO ' + ISNULL(@insertTablePath,'') + ' AS ' + ISNULL(@targetAlias,'target') +
			N' USING (
			SELECT ' + @ProjectedSelect + '
			FROM src AS ' + ISNULL(@sourceAlias,'source') + ' ' + ISNULL(@JoinMapClause,'') +
			N') AS ' + ISNULL(@sourceAlias,'source') +
			N' ON 1 = 0
			WHEN NOT MATCHED BY TARGET THEN 
				INSERT (' + ISNULL(@InsertColumns,'') + ')
				VALUES (' +(SELECT STRING_AGG(CONCAT(@sourceAlias, N'.',RTRIM(LTRIM(value))), ', ') FROM STRING_SPLIT(@InsertColumns, N',')) +');
				SELECT @rc_out = @@ROWCOUNT;';

		SET @SQLCommand =  @SQL;

		END TRY
		BEGIN CATCH
			SET @Message = CONCAT(N'Error in procedure ', ISNULL(ERROR_MESSAGE(), @procedureName), N' at line ', ERROR_LINE(), N': ', ERROR_PROCEDURE());

			EXEC [dbo].[sp_ETLRunLog_Message]
					@ErrorLevel         = 'Error',
					@sourceDatabaseName = NULL,
					@targetDatabaseName = @targetDatabaseName,
					@schemaName			= @schemaName,
					@objectName			= @targetTable,
					@ProcessName        = @procedureName,
					@Message            = @message;

			THROW;
		END CATCH;
	END;

