CREATE     PROCEDURE [dbo].[sp_GetSingleTableRowCount]
    @database SYSNAME,
    @schema   SYSNAME,
    @table    SYSNAME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sql NVARCHAR(MAX),
            @cnt INT;

    SET @sql = N'
        SELECT @row_count = SUM(CASE WHEN ps.index_id < 2 THEN ps.row_count ELSE 0 END)
        FROM ' + QUOTENAME(@Database) + N'.sys.dm_db_partition_stats AS ps
        JOIN ' + QUOTENAME(@Database) + N'.sys.objects  AS o ON o.object_id = ps.object_id
        JOIN ' + QUOTENAME(@Database) + N'.sys.schemas  AS s ON s.schema_id = o.schema_id
        WHERE o.type = ''U''
          AND s.name = @Schema
          AND o.name = @Table;';

    EXEC sp_executesql
        @sql,
        N'@Schema sysname, @Table sysname, @row_count INT OUTPUT',
        @Schema=@Schema,
        @Table=@Table,
        @row_count=@cnt OUTPUT;

    RETURN ISNULL( @cnt, 0);
END

