

CREATE         PROCEDURE [dbo].[sp_orchestrator] (
 @targetDatabaseName SYSNAME, 
@sourceDatabaseName SYSNAME,
@daysBackupRetention INT = 3,
@backupPath NVARCHAR(4000) = 'D:\ETLBackups\',
@logThreshold DECIMAL (4,2) = 70.00,
@CleanStaging BIT = 0
)
AS BEGIN
	SET XACT_ABORT ON;
	SET NOCOUNT ON;
	--Local variables
	DECLARE	@procedureName SYSNAME = OBJECT_NAME(@@PROCID),
			@currentDatabaseName SYSNAME = DB_NAME(),
			@SQL NVARCHAR(MAX),
			@TTschema SYSNAME,
			@TTable SYSNAME,
			@TTableListId INT,
			@TTlistId INT,
			@sourceFullPath NVARCHAR(400),
			@targetFullPath NVARCHAR(400),
			@exists BIT,
			@isNullable BIT,
			@defaultTargetDatabaseCollation VARCHAR(150),
			@TTexecutionID INT,
			@ERRColumList VARCHAR(1200),
			@LogMessage NVARCHAR(MAX),
			@affectedRows INT,
			@HAisEnabled BIT;

	EXEC sp_ETLRunLog_Start 
							@ErrorLevel = 'Info',
							@sourceDatabaseName = @sourceDatabaseName, 
							@targetDatabaseName = @targetDatabaseName,
							@ProcessName = @procedureName,
							@Message = 'Process has been started by the Orchestrator.';

	IF (SELECT SERVERPROPERTY('IsHadrEnabled')) = 1
		BEGIN
			SET @HAisEnabled = 1
		--verificamos si nos encontramos en el primer grupo de disponibilidad
			IF	NOT EXISTS (
				SELECT 1 FROM sys.availability_groups ag
					INNER JOIN sys.availability_replicas ar ON ag.group_id = ar.group_id
					INNER JOIN sys.dm_hadr_availability_replica_states ars ON ar.replica_id = ars.replica_id
					WHERE ars.is_local = 1	--Conectado
					AND ars.role = 1	--Primaria
					AND ars.operational_state = 2 --ONLINE
					AND ars.recovery_health = 1 --ONLINE
					AND ars.synchronization_health = 2 --HEALTHY
					)
					BEGIN
						 EXEC dbo.sp_ETLRunLog_Message
							@status = 0,
							@ErrorLevel = 'Fatal Error',
							@sourceDatabaseName = @sourceDatabaseName,
							@targetDatabaseName = @targetDatabaseName,
							@ProcessName = @procedureName,
							@Message = 'Not on primary replica, please switch to primary replica or verify your replica''s health.';

						RAISERROR('Not on primary replica, please switch to primary replica or verify your replica''s health.', 16, 1);
						RETURN;
					END
		END

	-- Bases de datos
	IF DB_ID(@sourceDatabaseName) IS NULL
	BEGIN
		RAISERROR('Source database doesn''t exist.', 16, 50000) WITH NOWAIT;

		EXEC dbo.sp_ETLRunLog_Message
			@status = 0,
			@ErrorLevel = 'Fatal Error',
			@sourceDatabaseName = @sourceDatabaseName,
			@targetDatabaseName = @targetDatabaseName,
			@ProcessName = @procedureName,
			@Message = 'Source database doesn''t exist.';

		RETURN;
	END;

	IF DB_ID(@targetDatabaseName) IS NULL
	BEGIN
		RAISERROR('Target database doesn''t exist.', 16, 50001) WITH NOWAIT;

		EXEC dbo.sp_ETLRunLog_Message
			@status = 0,
			@ErrorLevel = 'Fatal Error',
			@sourceDatabaseName = @sourceDatabaseName,
			@targetDatabaseName = @targetDatabaseName,
			@ProcessName = @procedureName,
			@Message = 'Target database doesn''t exist.';

		RETURN;
	END;

	IF OBJECT_ID('dbo.TTableList') IS NULL
	BEGIN
		RAISERROR('TTableList table doesn''t exists.', 16, 50002) WITH NOWAIT;

		EXEC dbo.sp_ETLRunLog_Message
			@status = 0,
			@ErrorLevel = 'Fatal Error',
			@sourceDatabaseName = @sourceDatabaseName,
			@targetDatabaseName = @targetDatabaseName,
			@ProcessName = @procedureName,
			@Message = 'TTableList table doesn''t exists.';

		RETURN;
	END;

	IF OBJECT_ID('dbo.TTableExecutionOrderHint') IS NULL
	BEGIN
		RAISERROR('TTableExecutionOrderHint table doesn''t exists.', 16, 50003) WITH NOWAIT;

		EXEC dbo.sp_ETLRunLog_Message
			@status = 0,
			@ErrorLevel = 'Fatal Error',
			@sourceDatabaseName = @sourceDatabaseName,
			@targetDatabaseName = @targetDatabaseName,
			@ProcessName = @procedureName,
			@Message = 'TTableExecutionOrderHint table doesn''t exists.';

		RETURN;
	END;

	-- ETLRunLog existe 
	IF OBJECT_ID('dbo.ETLRunLog') IS NULL
	BEGIN
		RAISERROR('ETLRunLog table doesn''t exists.', 16, 50004) WITH NOWAIT;

		EXEC dbo.sp_ETLRunLog_Message
			@status = 0,
			@ErrorLevel = 'Fatal Error',
			@sourceDatabaseName = @sourceDatabaseName,
			@targetDatabaseName = @targetDatabaseName,
			@ProcessName = @procedureName,
			@Message = 'ETLRunLog table doesn''t exists.';

		RETURN;
	END;

	-- Verificar tablas listadas
	IF NOT EXISTS (SELECT 1 FROM dbo.TTableList)
	BEGIN
		RAISERROR('There are no listed tables on TTableList.', 16, 50005) WITH NOWAIT;

		EXEC dbo.sp_ETLRunLog_Message
			@status = 0,
			@ErrorLevel = 'Fatal Error',
			@sourceDatabaseName = @sourceDatabaseName,
			@targetDatabaseName = @targetDatabaseName,
			@ProcessName = @procedureName,
			@Message = 'There are no listed tables on TTableList.';
		RETURN;
	END;

	  EXEC sp_ETLRunLog_Message 
			@ErrorLevel         = 'Info',
			@sourceDatabaseName = @sourceDatabaseName, 
			@targetDatabaseName = @targetDatabaseName,
			@ProcessName        = @procedureName,
			@Message            = 'Full backup has been started by the Orchestrator.';

		-- Ejecucion
		EXEC dbo.sp_ETLFullBackup
		@selectedDatabase = @targetDatabaseName,
		@backupPath = @backupPath;

	   --  Mensaje de salida
		EXEC sp_ETLRunLog_Message 
			@ErrorLevel         = 'Info',
			@sourceDatabaseName = @sourceDatabaseName, 
			@targetDatabaseName = @targetDatabaseName,
			@ProcessName        = @procedureName,
			@Message            = 'full backup has finished successfully.';

	/*
	Generar orden automatico para la ejecucion
	*/

		BEGIN TRY
		-- Collation por defecto del target
		SELECT @defaultTargetDatabaseCollation = collation_name
		FROM sys.databases 
		WHERE database_id = DB_ID(@targetDatabaseName);
	
		EXEC sp_ETLRunLog_Message 
			@status = 1,
			@ErrorLevel         = 'Info',
			@sourceDatabaseName = @sourceDatabaseName, 
			@targetDatabaseName = @targetDatabaseName,
			@ProcessName        = @procedureName,
			@Message            = 'Generation of the execution order has been started by the Orchestrator.';

		-- Ejecucion
		EXEC GenerateETLExecutionOrder @targetDatabaseName;

		-- Mensaje de salida
		EXEC sp_ETLRunLog_Message
			@status = 1,
			@ErrorLevel = 'Info',
			@sourceDatabaseName = @sourceDatabaseName, 
			@targetDatabaseName = @targetDatabaseName,
			@ProcessName = @procedureName,
			@Message = 'Generation of the execution order has finished successfully.';

		END TRY
		BEGIN CATCH
			SET @LogMessage = CONCAT(
				'Msg ', ERROR_NUMBER(), ', Level ', ERROR_SEVERITY(), 
				', State ', ERROR_STATE(), ', Line ', ERROR_LINE(), CHAR(13), CHAR(10),
				'Error generating the execution order: ',
				ERROR_MESSAGE());

			EXEC dbo.sp_ETLRunLog_Message
				@status				= 0,
				@ErrorLevel         = 'Fatal Error',
				@sourceDatabaseName = @sourceDatabaseName,
				@targetDatabaseName = @targetDatabaseName,
				@ProcessName        = @procedureName,
				@CommandDetail		= @SQL,
				@Message            = @LogMessage;

			GOTO SendNotification;
			RETURN;
		END CATCH;

	/*
	Verificamos la estructura en las tablas donde se va a comparar
	*/
		BEGIN TRY
			EXEC sp_ETLRunLog_Message 
				@status = 1,
				@ErrorLevel = 'Info',
				@sourceDatabaseName = @sourceDatabaseName, 
				@targetDatabaseName = @targetDatabaseName,
				@ProcessName = @procedureName,
				@Message = 'Validation of the table structure has been started by the Orchestrator.';

			EXEC sp_ETLValidateTableStructure @sourceDatabaseName, @targetDatabaseName;

			EXEC sp_ETLRunLog_Message
				@status = 1,
				@ErrorLevel = 'Info',
				@sourceDatabaseName = @sourceDatabaseName, 
				@targetDatabaseName = @targetDatabaseName,
				@ProcessName = @procedureName,
				@Message = 'Validation of the table structure has finished successfully.';
		END TRY
		BEGIN CATCH
			SET @LogMessage = CONCAT(
							'Msg ', ERROR_NUMBER(), ', Level ', ERROR_SEVERITY(), 
							', State ', ERROR_STATE(), ', Line ', ERROR_LINE(), CHAR(13), CHAR(10),
							'An error has ocurred while the process was validating the table structure. ', ': ', 
							ERROR_MESSAGE());

			EXEC dbo.sp_ETLRunLog_Message
				@status				= 0,
				@ErrorLevel         = 'Fatal Error',
				@sourceDatabaseName = @sourceDatabaseName,
				@targetDatabaseName = @targetDatabaseName,
				@ProcessName        = @procedureName,
				@CommandDetail		= @SQL,
				@Message            = @LogMessage;

			GOTO SendNotification;
			RETURN;
		END CATCH;

		IF (@CleanStaging = 1)
			BEGIN
			/*Limpiar tablas de staging ante de empezar*/
				BEGIN TRY
				-- Log de inicio del proceso de limpieza
				EXEC dbo.sp_ETLRunLog_Message 
					@status = 1,
					@ErrorLevel = 'Info',
					@sourceDatabaseName = @sourceDatabaseName, 
					@targetDatabaseName = @targetDatabaseName,
					@ProcessName = @procedureName,
					@Message = 'Cleanup of staging tables has been started by the Orchestrator.';

				-- Ejecución del procedimiento de limpieza
				--EXEC dbo.sp_ETLCleanStagingTables
					--@SchemaName = N'staging';

				EXEC dbo.sp_ETLCleanStagingTables
					@SchemaName = N'theap';

				-- Log de finalización exitosa
				EXEC dbo.sp_ETLRunLog_Message
					@status = 1,
					@ErrorLevel = 'Info',
					@sourceDatabaseName = @sourceDatabaseName, 
					@targetDatabaseName = @targetDatabaseName,
					@ProcessName = @procedureName,
					@Message = 'Cleanup of staging tables has finished successfully.';
			END TRY
			BEGIN CATCH
				SET @LogMessage = CONCAT(
					'Msg ', ERROR_NUMBER(), ', Level ', ERROR_SEVERITY(),
					', State ', ERROR_STATE(), ', Line ', ERROR_LINE(), CHAR(13), CHAR(10),
					'An error has occurred while cleaning the staging tables: ',
					ERROR_MESSAGE()
				);

				EXEC dbo.sp_ETLRunLog_Message
					@status             = 0,
					@ErrorLevel         = 'Fatal Error',
					@sourceDatabaseName = @sourceDatabaseName,
					@targetDatabaseName = @targetDatabaseName,
					@ProcessName        = @procedureName,
					@CommandDetail      = N'EXEC dbo.sp_ETLCleanStagingTables;',
					@Message            = @LogMessage;

				GOTO SendNotification;
				RETURN;
			END CATCH;
		END;

	/*
	Se generan los Merge INTO dinamicos del filtro superior.
	*/

	BEGIN TRY
		-- Mensaje de inicio del proceso de merges
		EXEC sp_ETLRunLog_Message
			@status = 1,
			@ErrorLevel = 'Info',
			@sourceDatabaseName = @sourceDatabaseName, 
			@targetDatabaseName = @targetDatabaseName,
			@ProcessName = @procedureName,
			@Message = 'Dynamic Merge process has been started by the Orchestrator.';

		-- Ejecución del procedimiento de merges dinámicos
		EXEC sp_OrchestrateETLMergeExecution
			@targetDatabaseName = @targetDatabaseName,
			@sourceDatabaseName = @sourceDatabaseName,
			@defaultTargetDatabaseCollation = @defaultTargetDatabaseCollation,
			@backupPath = @backupPath,
			@logThreshold = @logThreshold;

		-- Mensaje de fin de proceso (éxito)
		EXEC sp_ETLRunLog_Message
			@status = 1,
			@ErrorLevel = 'Info',
			@sourceDatabaseName = @sourceDatabaseName, 
			@targetDatabaseName = @targetDatabaseName,
			@ProcessName = @procedureName,
			@Message = 'Dynamic Merge process has finished successfully.';
	END TRY
	BEGIN CATCH
		-- Construcción del mensaje de error
		SET @LogMessage = CONCAT(
						'Msg ', ERROR_NUMBER(), ', Level ', ERROR_SEVERITY(), 
						', State ', ERROR_STATE(), ', Line ', ERROR_LINE(), CHAR(13), CHAR(10),
						'An error has occurred while executing the Dynamic Merge process: ', 
						ERROR_MESSAGE());
					 
		-- Registro del error en logs
		EXEC dbo.sp_ETLRunLog_Message
			@status = 0,
			@ErrorLevel = 'Fatal Error',
			@sourceDatabaseName = @sourceDatabaseName,
			@targetDatabaseName = @targetDatabaseName,
			@ProcessName = @procedureName,
			@CommandDetail = @SQL,
			@Message = @LogMessage;

			GOTO SendNotification;
			RETURN;
	END CATCH;

	/*Fin del proceso*/
		SET @LogMessage = 'ETL process has successfully finished.';

		EXEC dbo.sp_ETLRunLog_Message
			@status = 1,
			@ErrorLevel = 'info',
			@targetDatabaseName = @currentDatabaseName,
			@ProcessName = @procedureName,
			@CommandDetail = @SQL,
			@Message = @LogMessage;

		EXEC dbo.sp_ETLNotificationMail
			@sourceDatabase = @sourceDatabaseName,
			@targetDatabase = @targetDatabaseName

	/*Se ejecuta un return para no mandar repeticiones*/
	RETURN;

	SendNotification:
		EXEC dbo.sp_ETLNotificationMail
			@sourceDatabase = @sourceDatabaseName,
			@targetDatabase = @targetDatabaseName;
END;

