

CREATE   PROCEDURE [dbo].[sp_OrchestrateETLMergeExecution] (
		@targetDatabaseName SYSNAME, 
		@sourceDatabaseName SYSNAME,
		@defaultTargetDatabaseCollation VARCHAR(150),
		@backupPath NVARCHAR(4000),
		@logThreshold DECIMAL (4,2)
		)
AS
BEGIN
    SET NOCOUNT ON;
	SET XACT_ABORT ON;

    -- Local variables
    DECLARE @procedureName SYSNAME = 'sp_OrchestrateETLMergeExecution',
            @SQL NVARCHAR(MAX),
            @TTschema SYSNAME,
            @TTable SYSNAME,
            @TTableListId INT,
            @TTlistId INT,
            @isNullable BIT,
            @ERRColumList VARCHAR(1200),
            @LogMessage NVARCHAR(MAX),
			@tableRows INT,
            @affectedRows INT;
	
	
	IF EXISTS(SELECT 1 FROM dbo.TTableExecutionOrderHint WHERE isSelected = 0)
		BEGIN

		SET @LogMessage = CONCAT(
			N'Unselected tables detected in TTableExecutionOrderHint. ',
			N'Some tables did not pass the structure verification process or were intentionally skipped. ',
			N'All tables must have isSelected = 1 before proceeding. ',
			N'Please review the table TTableExecutionOrderHint to identify unselected entries and rerun the process. ',
			N'The following tables are currently unselected: ',
			ISNULL((SELECT STRING_AGG(CONCAT(QUOTENAME(schemaName), N'.', QUOTENAME(TableName)), N', ') FROM dbo.TTableExecutionOrderHint WHERE isSelected = 0),N'<none>'),N'.');

			EXEC dbo.sp_ETLRunLog_Message
			@status = 0,
			@ErrorLevel = 'Error',
			@sourceDatabaseName = @sourceDatabaseName,
			@targetDatabaseName = @targetDatabaseName,
			@SchemaName = @TTschema,
			@ObjectName = @TTable,
			@ProcessName = @procedureName,
			@Message = @LogMessage;

			THROW 51200,@LogMessage, 1;
		END;

	DECLARE MergeTableCur CURSOR LOCAL FAST_FORWARD FOR
		SELECT schemaName, tableName, listId
		FROM dbo.TTableExecutionOrderHint
		WHERE isSelected = 1
		ORDER BY depth DESC, insertOrder ASC;
	OPEN MergeTableCur;

	FETCH NEXT FROM MergeTableCur INTO @TTschema, @TTable, @TTlistId;

	WHILE @@FETCH_STATUS = 0
		BEGIN
		--Verify Backup log on Target Database
		EXEC dbo.sp_ETLLogCleanup 
			@SelectedDatabase = @targetDatabaseName,
			@BackupPath = @backupPath,
			@LogThreshold = @logThreshold;

		IF @TTlistId IS NULL
			BEGIN
				EXEC dbo.GenerateDynamicMerge
				@sourceDatabaseName = @sourceDatabaseName,
				@targetDatabaseName = @targetDatabaseName,
				@DatabaseCollate = @defaultTargetDatabaseCollation,
				@schemaName = @TTschema,
				@sourceTable = @TTable,
				@targetTable = @TTable,
				@SQLCommand = @SQL OUTPUT;

				BEGIN TRY
					/*Marcar la cantidad de filas*/
					EXEC @tableRows = [dbo].[sp_GetSingleTableRowCount]
						@database = @targetDatabaseName,
						@schema = @TTschema,
						@table = @TTable;

					BEGIN TRAN
						--Print @SQL
						EXEC sp_executesql @SQL,
						N'@rc_out INT OUTPUT',
						@rc_out = @affectedRows OUTPUT;
					COMMIT;

					SET @LogMessage = 'Merge process has been executed sucessfully.';

					EXEC dbo.sp_ETLRunLog_Message
						@status				= 1,
						@ErrorLevel         = 'Info',
						@Rows				= @tableRows,
						@RowsIn				= @affectedRows,
						@sourceDatabaseName = @sourceDatabaseName,
						@targetDatabaseName = @targetDatabaseName,
						@SchemaName			= @TTschema,
						@ObjectName			= @TTable,
						@ProcessName        = @procedureName,
						@CommandDetail		= @SQL,
						@Message            = @LogMessage;

				END TRY
				BEGIN CATCH
					IF XACT_STATE() <> 0
						BEGIN
							ROLLBACK TRAN;
						END;
						SET @LogMessage = CONCAT(
							'Msg ', ERROR_NUMBER(), ', Level ', ERROR_SEVERITY(), 
							', State ', ERROR_STATE(), ', Line ', ERROR_LINE(), CHAR(13), CHAR(10),
							'Error executing MERGE command on ', QUOTENAME(@TTschema), '.', QUOTENAME(@TTable), ': ', 
							ERROR_MESSAGE()
						);

					EXEC dbo.sp_ETLRunLog_Message
						@status				= 0,
						@ErrorLevel         = 'Error',
						@sourceDatabaseName = @sourceDatabaseName,
						@targetDatabaseName = @targetDatabaseName,
						@SchemaName			= @TTschema,
						@ObjectName			= @TTable,
						@ProcessName        = @procedureName,
						@CommandDetail		= @SQL,
						@Message            = @LogMessage;
						THROW;
				END CATCH;
			END;
		ELSE
			BEGIN
				BEGIN TRY
					EXEC dbo.sp_ETLUpsertKeyTables
					@sourceDatabaseName = @sourceDatabaseName,
					@targetDatabaseName = @targetDatabaseName,
					@DatabaseCollate = @defaultTargetDatabaseCollation,
					@schemaName = @TTschema,
					@sourceTable = @TTable,
					@targetTable = @TTable,
					@SQLCommand = @SQL OUTPUT;

					/*Marcar la cantidad de filas*/
					EXEC @tableRows = [dbo].[sp_GetSingleTableRowCount]
						@database = @targetDatabaseName,
						@schema = @TTschema,
						@table = @TTable;

					BEGIN TRAN
						--Print @SQL
						EXEC sp_executesql @SQL,
						N'@rc_out INT OUTPUT',
						@rc_out = @affectedRows OUTPUT;
					COMMIT;

					SET @LogMessage = 'Insert process on main table has been executed sucessfully.';

					EXEC dbo.sp_ETLRunLog_Message
						@status				= 1,
						@ErrorLevel         = 'Info',
						@Rows				= @tableRows,
						@RowsIn				= @affectedRows,
						@sourceDatabaseName = @sourceDatabaseName,
						@targetDatabaseName = @targetDatabaseName,
						@SchemaName			= @TTschema,
						@ObjectName			= @TTable,
						@ProcessName        = @procedureName,
						@CommandDetail		= @SQL,
						@Message            = @LogMessage;

				END TRY
				BEGIN CATCH
					IF XACT_STATE() <> 0
						BEGIN
							ROLLBACK TRAN;
						END;
						SET @LogMessage = CONCAT(
							'Msg ', ERROR_NUMBER(), ', Level ', ERROR_SEVERITY(), 
							', State ', ERROR_STATE(), ', Line ', ERROR_LINE(), CHAR(13), CHAR(10),
							'Error executing MERGE command on ', QUOTENAME(@TTschema), '.', QUOTENAME(@TTable), ': ', 
							ERROR_MESSAGE()
						);

					EXEC dbo.sp_ETLRunLog_Message
						@status				= 0,
						@ErrorLevel         = 'Error',
						@sourceDatabaseName = @sourceDatabaseName,
						@targetDatabaseName = @targetDatabaseName,
						@SchemaName			= @TTschema,
						@ObjectName			= @TTable,
						@ProcessName        = @procedureName,
						@CommandDetail		= @SQL,
						@Message            = @LogMessage;

						THROW;
				END CATCH;
			END;
		FETCH NEXT FROM MergeTableCur INTO @TTschema, @TTable, @TTlistId;
		SET @SQL = NULL;
		END;
	CLOSE MergeTableCur;
	DEALLOCATE MergeTableCur;

	DECLARE HeapMergeTableCur CURSOR LOCAL FAST_FORWARD FOR
	SELECT schemaName, tableName
		FROM dbo.TTHeapTablesProcess

	OPEN HeapMergeTableCur;
	FETCH NEXT FROM HeapMergeTableCur INTO @TTSchema, @TTable;

	WHILE @@FETCH_STATUS = 0
		BEGIN
			BEGIN TRY
				--Verify Backup log on Target Database
				EXEC dbo.sp_ETLLogCleanup 
				@SelectedDatabase = @targetDatabaseName,
				@BackupPath = @backupPath,
				@LogThreshold = @logThreshold;

				EXEC dbo.[sp_GenerateHeapMerge]
				@sourceDatabaseName = @sourceDatabaseName,
				@targetDatabaseName = @targetDatabaseName,
				@DatabaseCollate = @defaultTargetDatabaseCollation,
				@schemaName = @TTschema,
				@sourceTable = @TTable,
				@targetTable = @TTable,
				@SQLCommand = @SQL OUTPUT;

				/*Marcar la cantidad de filas*/
				EXEC @tableRows = [dbo].[sp_GetSingleTableRowCount]
					@database = @targetDatabaseName,
					@schema = @TTschema,
					@table = @TTable;

				BEGIN TRAN
					--Print @SQL
					EXEC sp_executesql @SQL,
					N'@rc_out INT OUTPUT',
					@rc_out = @affectedRows OUTPUT;
				COMMIT;

				SET @LogMessage = 'Heap insert process on main table has been executed sucessfully.';

				EXEC dbo.sp_ETLRunLog_Message
					@status				= 1,
					@ErrorLevel         = 'Info',
					@Rows				= @tableRows,
					@RowsIn				= @affectedRows,
					@sourceDatabaseName = @sourceDatabaseName,
					@targetDatabaseName = @targetDatabaseName,
					@SchemaName			= @TTschema,
					@ObjectName			= @TTable,
					@ProcessName        = @procedureName,
					@CommandDetail		= @SQL,
					@Message            = @LogMessage;

			END TRY
			BEGIN CATCH
				IF XACT_STATE() <> 0
					BEGIN
						ROLLBACK TRAN;
					END;
					SET @LogMessage = CONCAT(
						'Msg ', ERROR_NUMBER(), ', Level ', ERROR_SEVERITY(), 
						', State ', ERROR_STATE(), ', Line ', ERROR_LINE(), CHAR(13), CHAR(10),
						'Error executing MERGE command on ', QUOTENAME(@TTschema), '.', QUOTENAME(@TTable), ': ', 
						ERROR_MESSAGE()
					);

				EXEC dbo.sp_ETLRunLog_Message
					@status				= 0,
					@ErrorLevel         = 'Error',
					@sourceDatabaseName = @sourceDatabaseName,
					@targetDatabaseName = @targetDatabaseName,
					@SchemaName			= @TTschema,
					@ObjectName			= @TTable,
					@ProcessName        = @procedureName,
					@CommandDetail		= @SQL,
					@Message            = @LogMessage;

					THROW;
			END CATCH;
			FETCH NEXT FROM HeapMergeTableCur INTO @TTSchema, @TTable;
		END;
	CLOSE HeapMergeTableCur;
    DEALLOCATE HeapMergeTableCur;
END;

