CREATE TABLE [dbo].[ETLRunLog](    [runID] int IDENTITY(1,1) NOT NULL,    [startTime] datetime2(0) NOT NULL CONSTRAINT [DF__ETLRunLog__start__5629CD9C] DEFAULT (sysdatetime()),    [endTime] datetime2(0) NOT NULL CONSTRAINT [DF__ETLRunLog__endTi__571DF1D5] DEFAULT (sysdatetime()),    [status] bit NULL,    [tableListID] int NULL,    [rows] bigint NULL,    [rowsIn] bigint NULL,    [errorLevel] int NOT NULL,    [sourceDatabaseName] sysname NULL,    [targetDatabaseName] sysname NULL,    [SchemaName] sysname NULL,    [ObjectName] sysname NULL,    [ProcessName] sysname NULL,    [CommandDetail] nvarchar(MAX) NULL,    [message] nvarchar(MAX) NULL,    [CorrelationId] varchar(512) NOT NULL,    CONSTRAINT [PK__ETLRunLo__9A8D7A0F11C8C6F1] PRIMARY KEY ([runID]));
