CREATE TABLE [dbo].[foreignKeyMetadata](    [FKColumnName] sysname NOT NULL,    [RefSchema] sysname NOT NULL,    [RefTable] sysname NOT NULL,    [RefPKColumn] sysname NOT NULL,    [MapTable] sysname NOT NULL,    [MapOldCol] sysname NOT NULL,    [MapNewCol] sysname NOT NULL,    [MapAlias] sysname NOT NULL);
