CREATE TABLE [dbo].[ProcessTableExclusions](    [ID] int IDENTITY(1,20) NOT NULL,    [schemaName] sysname NOT NULL,    [tableName] sysname NOT NULL,    CONSTRAINT [PK__ProcessT__3214EC279FF915FE] PRIMARY KEY ([ID]));
