CREATE TABLE [dbo].[RunLogLevel](    [errorLevelId] int IDENTITY(1,1) NOT NULL,    [errorLevelName] varchar(50) NOT NULL,    [errorDescription] varchar(200) NULL,    CONSTRAINT [PK__RunLogLe__8D517BEEB474A8CD] PRIMARY KEY ([errorLevelId]));
