CREATE TABLE [dbo].[sourceMetadata](    [soID] int IDENTITY(1,1) NOT NULL,    [colname] sysname NOT NULL,    [type_name] sysname NOT NULL,    [max_length] int NULL,    [precision] int NULL,    [scale] int NULL,    [is_nullable] bit NULL,    [is_identity] bit NULL,    [collationName] varchar(512) NULL,    CONSTRAINT [PK__sourceMe__331EE7AF6CFC3B72] PRIMARY KEY ([soID]));
