CREATE TABLE [dbo].[targetMetadata](    [taID] int IDENTITY(1,1) NOT NULL,    [colname] sysname NOT NULL,    [type_name] sysname NOT NULL,    [max_length] int NULL,    [precision] int NULL,    [scale] int NULL,    [is_nullable] bit NULL,    [is_identity] bit NULL,    [collationName] varchar(512) NULL,    CONSTRAINT [PK__targetMe__E5F89F35A73CF54D] PRIMARY KEY ([taID]));
