CREATE TABLE [dbo].[TParameterStore](    [ParameterID] int IDENTITY(1,1) NOT NULL,    [ParameterName] nvarchar(250) NULL,    [ParameterValue] nvarchar(1000) NULL,    [Updated] datetime NULL CONSTRAINT [DF__TParamete__Updat__0880433F] DEFAULT (sysdatetime()),    [UpdatedBy] sysname NOT NULL,    CONSTRAINT [PK__TParamet__F80C629715934D05] PRIMARY KEY ([ParameterID]));
