CREATE TABLE [dbo].[TTableList_hist](    [historyID] int IDENTITY(1,1) NOT NULL,    [tableListID] int NOT NULL,    [oldLastIdAtOrigin] nvarchar(2000) NULL,    [newLastIdAtOrigin] nvarchar(2000) NULL,    [changedAt] datetime NULL CONSTRAINT [DF__TTableLis__chang__1B9317B3] DEFAULT (getdate()),    [changedBy] sysname NOT NULL CONSTRAINT [DF__TTableLis__chang__1C873BEC] DEFAULT (suser_sname()),    CONSTRAINT [PK__TTableLi__19BDBDB301C33D96] PRIMARY KEY ([historyID]));
