CREATE TABLE [dbo].[TTableList](    [tableListID] int IDENTITY(1,1) NOT NULL,    [schemaName] sysname NOT NULL,    [tableName] sysname NOT NULL,    [isIncremental] bit NULL,    [keyColumns] nvarchar(2000) NULL,    [logicalOperator] nvarchar(2000) NULL,    [lastIdAtOrigin] nvarchar(2000) NULL,    [joinWithPrev] nvarchar(2000) NULL,    [keyColumnsToUpdate] varchar(2000) NULL,    CONSTRAINT [PK__TTableLi__9EFA2CFA4C713A85] PRIMARY KEY ([tableListID]));
