CREATE TABLE [dbo].[TTableExecutionOrderHint](    [executionID] int IDENTITY(1,1) NOT NULL,    [schemaName] sysname NOT NULL,    [TableName] sysname NOT NULL,    [depth] int NULL,    [insertOrder] int NULL,    [listId] int NULL,    [isSelected] bit NULL CONSTRAINT [DF__TTableExe__isSel__267ABA7A] DEFAULT ((0)),    CONSTRAINT [PK__TTableEx__C5606D358ED2A65E] PRIMARY KEY ([executionID]));
