CREATE TABLE [dbo].[TTHeapTablesProcess](    [heapID] int IDENTITY(1,1) NOT NULL,    [schemaName] sysname NOT NULL,    [tableName] sysname NOT NULL,    [RelatedTables] nvarchar(2000) NULL,    CONSTRAINT [PK__TTHeapTa__F1B8208EC74EE22B] PRIMARY KEY ([heapID]));
