CREATE TABLE [dbo].[TTHTMLGenericMessages](    [MessageCode] sysname NOT NULL,    [IsActive] bit NOT NULL CONSTRAINT [DF_TTHTMLGenericMessages_IsActive] DEFAULT ((1)),    [Severity] varchar(10) NOT NULL CONSTRAINT [DF_TTHTMLGenericMessages_Severity] DEFAULT ('Normal'),    [SubjectTemplate] nvarchar(512) NOT NULL,    [HtmlTemplate] nvarchar(MAX) NOT NULL,    [TextTemplate] nvarchar(MAX) NULL,    [CreatedAt] datetime2(3) NOT NULL CONSTRAINT [DF_TTHTMLGenericMessages_CreatedAt] DEFAULT (sysdatetime()),    [CreatedBy] sysname NOT NULL CONSTRAINT [DF_TTHTMLGenericMessages_CreatedBy] DEFAULT (suser_sname()),    CONSTRAINT [PK__TTHTMLGe__54E8229E0BECAF45] PRIMARY KEY ([MessageCode]));
