CREATE TABLE [dbo].[TTNeedsManualMapping](    [manualMappingID] int IDENTITY(5,5) NOT NULL,    [tableListId] int NOT NULL,    [ColumnName] sysname NOT NULL,    [ManualMapTable] sysname NOT NULL,    [ManualOldCol] sysname NOT NULL,    [ManualNewCol] sysname NOT NULL,    [IsActive] bit NULL CONSTRAINT [DF__TTNeedsMa__IsAct__0D44F85C] DEFAULT ((1)),    CONSTRAINT [PK__TTNeedsM__8C241D31EC522AFC] PRIMARY KEY ([manualMappingID]));
