CREATE TABLE [dbo].[TTSpecialCases](    [caseId] int IDENTITY(1,1) NOT NULL,    [TableListId] int NOT NULL,    [Command] nvarchar(2000) NULL,    CONSTRAINT [PK__TTSpecia__956FA6C9AD591B74] PRIMARY KEY ([caseId]));
